<!-- Article Slider -->
<div class="container clearfix">
  <div class="sixteen columns r-margin-0 clearfix blog-slider-wrapper">
    <ul class="blog-slider owl-carousel margin-0">
      {%- assign count = 0 -%}
	  {%- assign items = blog.articles | sort: "published_at" -%}
   	  {%- for article in items reversed -%}
        {%- if articles_used contains article.handle -%} 
	        {%- continue -%}
        {%- endif -%}
        {%- assign articles_used = articles_used | append: "," | append: article.handle -%}
        {%- assign blockAttributes = '' -%}
        {%- assign count = count | plus:1 -%}
        {%- assign blockId = article.id -%}
        {%- assign articles_count = articles_count | minus: 1 -%}
        {%- assign shown = shown | plus:1 -%}
        {%- assign excerpt = "" -%}
        {%- if article.excerpt.size > 0  -%}
      		{%- assign excerpt = "<p>" | append: article.excerpt | append: "</p>" -%}
      	{%- endif -%}
        {%- assign cat = "" -%}
   	  	{%- for tag in article.tags -%}
          {%- if tag contains 'cat_' -%}
              {%- assign cat = tag | replace: "cat_", "" | capitalize -%}
              {%- unless cat == 'Anti-aging' and cat contains "-" -%}
                  {%- assign cat = cat | replace: "-", " " -%}
              {%- endunless -%}
              {%- assign cat_url = tag | replace: "cat_", "" -%}
          {%- endif -%}
      	{%- endfor -%}
        <li {{ blockAttributes }} data-block-id="{{blockId}}">
          <div id="slider-{{ blockId }}" class="five columns margin-0  slide border" data-id="{{ shown }}">
            {%- if article.image != nil -%}
            <div class="image-wrapper">
              <img  src="{{ article.image | img_url: '100x' }}"
                   alt="{{ article.title | escape }}"
                   data-src="{{ article.image | img_url: '1200x' }}"
                   class="lazyload lazyload--fade-in"
                   data-sizes="auto"
                   data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                {{ article.image | img_url: '1600x' }} 1600w,
                                {{ article.image | img_url: '1200x' }} 1200w,
                                {{ article.image | img_url: '1000x' }} 1000w,
                                {{ article.image | img_url: '1000x' }} 900w,
                                {{ article.image | img_url: '800x' }} 800w,
                                {{ article.image | img_url: '600x' }} 600w,
                                {{ article.image | img_url: '400x' }} 400w"
                   />
            </div>
            {%- endif -%}
            <div class="title_wrapper">
              <div>
                {%- if cat != '' -%}  
                <a href="/blogs/news/tagged/{{cat_url}}"class="category">{{ cat }}</a><span class="divider"></span>
      		    {%- endif -%}
                <span class="displaydate">{{ article.published_at | date: "%m/%d/%Y" }}</span>
              </div>
              <h5 class="sub_title slide_title"><a href="{{ article.url }}">{{ article.title | downcase }}</a></h5>
              <div><span class="excerpt">{{ excerpt }}</span></div>
              <a class="read_more" href="{{ article.url }}"><span>Read More</span></a>
            </div>
          </div>
        </li>
      {%- if count == 6 -%}{%- break -%}{%- endif -%}
      {%- endfor -%}
    </ul>
    <div class="owl-controls"><div class="owl-nav"></div></div>
  </div>
</div>
<!-- End Article Slider -->
