<div class="container main content main-wrapper c-product new-prods">

  {% assign sidebar = false %}
  {% assign collection_handles = product.collections | map: 'handle' %}
  {% assign variant = product.selected_or_first_available_variant %}

  <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
    <div class="product-{{ product.id }}">

      <div
           class="section product_section clearfix
                  {% if product.images.size > 1 %} thumbnail_position--{{settings.thumbnail_position}} {% endif %} product_slideshow_animation--{{settings.product_slideshow_animation}}"
           data-thumbnail="{{settings.thumbnail_position}}"
           data-slideshow-animation="{{settings.product_slideshow_animation}}"
           data-slideshow-speed="{{settings.slideshow_speed}}" itemscope itemtype="http://schema.org/Product">

        <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} {% if section.settings.product_images_position == 'right' %}mobile_only{% endif %}">
          {% include 'product-images' %}
          {% if product.price  < product.compare_at_price %}
          <img class="sale_badge" src="https://cdn.shopify.com/s/files/1/1212/4268/files/10off.png?v=1565876624">
          {% endif %}
        </div>

        {% if product.handle ==  'no-4-decadent-restoring-cream' %}
        <img class="sale_badge" src="https://cdn.shopify.com/s/files/1/1212/4268/files/Layer.png?v=1609359844">
        {% endif %}

        <div class="mobile_prod_block">
          {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability"
                  href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency }}"
                  class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                <span class="money">{{ product.price | money }}</span>
              </span>
            </span>
            {% if product.price  < product.compare_at_price %}
            <span class="was_price">
              <span class="money">{{ product.compare_at_price | money }}</span>
            </span>
            {% endif %}
          </p>
          <hr>
          {% if settings.notify_me_form %}
          {% include 'product-notify-me' %}
          {% endif %}

          {% include 'newest-product-form' with 'product' %}

          {% endunless %}

          <h4 class="sub_btn_text">{{ 'products.product.free_shipping' | t }}</h4>

          {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
          <div id="stamped-main-widget" data-widget-style="standard2" data-product-id="{{ product.id }}"
               data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}"
               data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
               data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}"
               data-product-type="{{product.type}}">
            {{ product.metafields.stamped.reviews }}
          </div>
          {% endif %}


          {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
          <hr />
          {% endif %}

          <div class="meta">
            {% if section.settings.display_social_buttons %}
            <share-button></share-button>
            {% endif %}

            {% if section.settings.display_collections %}
            <p>
              <span class="label">{{ 'products.product.collections' | t }}:</span>
              <span>
                {% for col in product.collections %}
                <a href="{{ col.url }}"
                   title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
              </span>
            </p>
            {% endif %}

            {% if section.settings.display_tags %}
            <p>
              {% for tag in product.tags %}
              {% if forloop.first %}
              <span class="label">{{ 'products.product.tags' | t }}:</span>
              {% endif %}

              {% unless tag contains 'meta-' %}
              <span>
                <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}"
                   title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
              </span>
              {% endunless %}
              {% endfor %}
            </p>
            {% endif %}

            {% if section.settings.display_type %}
            <p>
              <span class="label">{{ 'products.product.product_types' | t }}:</span>
              <span>{{ product.type | link_to_type }}</span>
            </p>
            {% endif %}
            {% if settings.enable_shopify_product_badges %}
            <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"
                  data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}"
                  data-product-title="{{product.title}}"
                  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
            {% endif %}
          </div>

          <h3 class="product_expresion">{{product.description}}</h3>
          <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

          {% if section.settings.product_description_position == "top" %}
          {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!--split-->' | first }}
          </div>
          {% endif %}
          {% endif %}


        </div>
        <div
             class="{% if sidebar %}five{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

          {% if section.settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
          {% endif %}

          {% if variant.sku != blank and section.settings.display_sku %}
          <p class="sku">
            <span itemprop="sku">{{ variant.sku }}</span>
          </p>
          {% endif %}


          <div class="desktop_prod_block">
            <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
            <span class="sold_out">{% if variant.available == false %}{{ variant.price | money }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency }}"
                  class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                <span class="money">{{ variant.price | money }}</span>
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
              <span class="money">{{ variant.compare_at_price | money }}</span>
              {% endif %}
            </span>
            {% if settings.enable_shopify_product_badges %}
            <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"
                  data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}"
                  data-product-title="{{product.title}}"
                  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
            {% endif %}
            <h3 class="product_expresion for-desktop">{{product.description}}</h3>

            {% if section.settings.product_description_position == "top" %}
            {% if product.description != blank %}
            <div class="description" itemprop="description">
              {{ product.description | split: '<!--split-->' | first }}
            </div>
            {% endif %}
            {% endif %}

            {% unless collection_handles contains 'coming-soon' %}

            {% if settings.notify_me_form %}
              	{% include 'product-notify-me' %}
            {% endif%}
			
            {% include 'newest-product-form' with 'product' %}
            
              

            {% endunless %}
            
            <div class="quantidte">
              <p>Order now and get it between <span id="fromDate"></span> & <span id="toDate"></span>.</p>
            </div>

            <h3 class="product_expresion for-mobile">{{product.description}}</h3>
            {%- case product.handle -%}
              {%- when 'duo-eye-cream-kit' -%}
              <button class="accordion">Ageless Eyes Day Cream</button>
              <div class="panel">
                <p>A lightweight cream designed to help the skin stay moisturized and hydrated throughout the day. It’s
                  the ultimate all-day companion.</p>
              </div>

              <button class="accordion">Satin Eyes Night Mask</button>
              <div class="panel">
                <p>A rich, nutrient-packed powerhouse that helps heal the skin overnight for a refreshed morning glow.</p>
              </div>
            
              {%- when 'forever-radiant-kit' -%}
              	<button class="accordion">Opulent Hydration Dew</button>
                <div class="panel">
                  <p>This lightweight dew is designed to help the skin stay moisturized and hydrated throughout the day. It’s the ultimate all-day companion. </p>
                </div>

                <button class="accordion">Refining Cleansing Nectar</button>
                <div class="panel">
                  <p>A rinse-less, preventative aging cleanser that helps remove impurities embedded deep within the skin for a truly ethereal glow.</p>
                </div>
            
            	<button class="accordion">Invigorating Renewing Elixir</button>
                <div class="panel">
                  <p>A nutrient-dense powerhouse, this elixir is an overnight mask that helps protect the skin and reduce the signs of aging, all while you sleep</p>
                </div>
            
            	<button class="accordion">Decadent Restoring Cream</button>
                <div class="panel">
                  <p>This carefully crafted preventative aging cream is designed with supercharged ingredients that work in simultaneous harmony to revitalize dull skin and diminish the signs of aging.</p>
                </div>
            
            {%- endcase -%}





            <ul class="product-icons">
              <li>
                <div class="" pi-icon>
                  <img src="{{ 'Pregnant.png' | asset_url}}" alt="" /></div>
                <span>Used By Pregnant Women</span>
              </li>
              <li>
                <div class="" pi-icon>
                  <img src="{{ 'Skin.png' | asset_url}}" alt="" /></div>
                <span>All Skin Types</span>
              </li>
              <li>
                <div class="" pi-icon>
                  <img src="{{ 'Peta.png' | asset_url}}" alt="" /></div>
                <span>PETA APPROVED</span>
              </li>
              <li>
                <div class="" pi-icon>
                  <img src="{{ 'Paraben.png' | asset_url}}" alt="" />
                </div>
                <span>PARABEN FREE</span>
              </li>
            </ul>

            {% if customer %}
            <div class='llpoints' style="display:none;">Buy and get <span
                                                                          data-lion-points-for-product-id="{{ product.id }}"></span> points</div>
            {% endif %}

            <h4 class="sub_btn_text">{{ 'products.product.free_shipping' | t }}</h4>

            {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
            <div id="stamped-main-widget" data-widget-style="standard2" data-product-id="{{ product.id }}"
                 data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                 data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}"
                 data-product-type="{{product.type}}">
              {{ product.metafields.stamped.reviews }}
            </div>
            {% endif %}


            {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
            <hr />
            {% endif %}

            <div class="meta">
              {% if section.settings.display_social_buttons %}
              <share-button></share-button>
              {% endif %}

              {% if section.settings.display_collections %}
              <p>
                <span class="label">{{ 'products.product.collections' | t }}:</span>
                <span>
                  {% for col in product.collections %}
                  <a href="{{ col.url }}"
                     title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                </span>
              </p>
              {% endif %}

              {% if section.settings.display_tags %}
              <p>
                {% for tag in product.tags %}
                {% if forloop.first %}
                <span class="label">{{ 'products.product.tags' | t }}:</span>
                {% endif %}

                {% unless tag contains 'meta-' %}
                <span>
                  <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}"
                     title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                </span>
                {% endunless %}
                {% endfor %}
              </p>
              {% endif %}

              {% if section.settings.display_type %}
              <p>
                <span class="label">{{ 'products.product.product_types' | t }}:</span>
                <span>{{ product.type | link_to_type }}</span>
              </p>
              {% endif %}
            </div>
          </div>
        </div>

        {% if section.settings.product_images_position == 'right' %}
        <div
             class="{% if sidebar %}seven{% else %}nine{% endif %} columns {% if product-images == blank %}{% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %} mobile_hidden">
          {% include 'product-images' %}
        </div>
        {% endif %}
      </div>

      {% if product.description contains "<!--split-->"  %}
      <br class="clear" />
      <div class="section clearfix">
        <div class="description">
          {{ product.description | split: '<!--split-->' | last }}
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</div>
<div class="sticky-cart-section" id="notify_id">
  <div class="container inner">
    <div class="prod-image">
      {%- case product.handle -%}
      {%- when 'no-4-decadent-restoring-cream' -%}
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/1212/4268/files/Product_05_0019_R_1_2048x_5572656f-a4a7-4a97-8123-eb3d3b1281ed.jpg?v=1609352406">
      {%- when 'forever-radiant-bundle' -%}
      <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/1212/4268/products/DSC1099-Edit_1024x1024.jpg?v=1610036354">
      {%- endcase -%}
    </div>
    <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
    <span itemprop="price" content="{{ variant.price | money_without_currency }}"
          class="price-wrap {% if variant.compare_at_price > variant.price %}sale{% endif %}">
      <span class="current_price {% if product.available == false %}hidden{% endif %}">
        {% if variant.price > 0 %}
        <span class="money">{{ variant.price | money }}</span>
        {% else %}
        {{ settings.free_price_text }}
        {% endif %}
      </span>
    </span>
    <span class="was_price">
      {% if variant.price < variant.compare_at_price and variant.available %}
      <span class="money">{{ variant.compare_at_price | money }}</span>
      {% endif %}
    </span>
    {% if product.handle == "no-4-decadent-restoring-cream" %}
    {% if settings.notify_me_form %}  
<!--     <div class="klaviyo-form-UBfnxX"></div>
    
    <span class="notify__btn">
      <a href="#" class="klaviyo__notify">yes, notify me!</a>
      <a class="coming__soon">Sold Out</a>
    </span> -->
    

    {% endif %}
    
    <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> 
      {% if product.available %}{% include 'subscription-product' %}{% endif %} 

      {% if product.variants.size > 1 %}
      <div class="product-options">
        <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
          {% for variant in product.variants %}
          <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
      </div>
      {% else %}
      <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      <div class="quantity buttons_added">
        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
      </div>
      <div class="add-to-cart">
        {% if product.available %}
        <div class="product-form-submit-wrap">
          <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" />
          <div class="add-to-cart-loader"></div>
        </div>
        {% capture cart_link %}
        <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
        {% endcapture %}
        {% capture continue_link %}
        <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
        {% endcapture %}
        {% capture checkout_link %}
        <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
        {% endcapture %}
        {% capture product_item %}
        <span class='added-product-name'></span>
        {% endcapture %}
        <p class="product-add-error-message"></p>
        {% else %}
        <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
        {% endif %}
      </div>
    </form>
    {% else %}
    <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> 
      {% if product.available %}{% include 'subscription-product' %}{% endif %} 

      {% if product.variants.size > 1 %}
      <div class="product-options">
        <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
          {% for variant in product.variants %}
          <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
      </div>
      {% else %}
      <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      <div class="quantity buttons_added">
        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
      </div>
      <div class="add-to-cart">
        {% if product.available %}
        <div class="product-form-submit-wrap">
          <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" />
          <div class="add-to-cart-loader"></div>
        </div>
        {% capture cart_link %}
        <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
        {% endcapture %}
        {% capture continue_link %}
        <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
        {% endcapture %}
        {% capture checkout_link %}
        <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
        {% endcapture %}
        {% capture product_item %}
        <span class='added-product-name'></span>
        {% endcapture %}
        <p class="product-add-error-message"></p>
        {% else %}
        <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
        {% endif %}
      </div>
    </form>
    
    
    {% endif %}
    
    
  </div>
</div>
<style>
  .product-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;
  }

  .product-icons li {
    flex: 1;
    list-style-type: none;
    text-align: center;
    padding: 0 8px;
  }

  .product-icons li .pi-icon {
    max-width: 60px;
    margin: 0 auto 10px;
  }

  .product-icons li .pi-icon img {
    width: 100%;
  }

  .product-icons li span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
  }

  .accordion {
    background: none;
    color: #222;
    cursor: pointer;
    padding: 25px 10px;
    width: 100%;
    border-bottom: 1px solid #E5E6E8;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 700;
    font-family: Gotham-Bold;
    text-transform: capitalize;
    position: relative;
  }

  button.accordion::after {
    top: 50%;
    content: "+";
    position: absolute;
    right: 10px;
    font-size: 18px;
    transform: translateY(-50%);
  }

  button.accordion:hover {
    box-shadow: none !important;
  }

  button.accordion.active::after {
    content: "-";
  }

  .accordion:hover {
    background: none;
  }

  .panel {
    padding: 15px 10px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
</style>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
<script>
  $(window).scroll(function () {
    stickyRatesBar();

    if($(window).scrollTop() > 10) {
      $("#loyaltylion").addClass("loyalty_move");
    } else {
      $("#loyaltylion").removeClass("loyalty_move");
    }
  });
  $(document).ready(function () {
    stickyRatesBar();

  });

  window.onload = function () {

  }

  function stickyRatesBar() {
    $(".sticky-cart-section").css('visibility', 'visible');
    var hT = $('.shopify-section').offset().top;
    var hH = $('.shopify-section').outerHeight();
    var wH = window.innerHeight;
    var wS = $(this).scrollTop();

    var scroll = $(window).scrollTop();

    if (wS > (hT + hH - wH)) {
      $(".sticky-cart-section").hide();
    } else {
      if (scroll >= 10) {
        $(".sticky-cart-section").show();
        $("#loyaltylion .lion-loyalty-widget_position_left").css("bottom", "80px !important");
      } else {
        $(".sticky-cart-section").hide();
      }
    }
    if (scroll >= 10) {
      $(".sticky-cart-section").show();
      $("#loyaltylion .lion-loyalty-widget_position_left").css("bottom", "80px !important");
    } else {
      $(".sticky-cart-section").hide();
    }

  }

</script>


<script type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>