<div class="featured-on-wrapper">
  <div class="container">
    <div class="featured-on">
      <div class="featured-on-item featured-on-title">
        <h3>{{ 'products.product.featured_on_title' | t }}</h3>
      </div>
      <div class="featured-on-item">
        <img src="{{ 'Glamour_Logo.svg' | file_url }}" alt="Glamour">
      </div>
      <div class="featured-on-item">
        <a href="https://www.buzzfeed.com/juliegerstein/just-8-really-good-products-that-work-great-for-thirty">                  
          <img src="{{ 'BuzzFeed_Logo.svg' | file_url }}" alt="BuzzFeed">
        </a>
      </div>
      <div class="featured-on-item">
        <img src="{{ 'FoxNews_Logo.svg' | file_url }}" alt="FoxNews">
      </div>
      <div class="featured-on-item">
        <a href="https://nylon.com/articles/indie-beauty-expo-2017-brands?utm_source=facebook&utm_medium=social&utm_campaign=nylon&fbclid=IwAR2CSCMZ2L-p-qw4WdMDHarfSosHwFE2rPJi-VqF64ERgFxyk7l96uBz908">
          <img src="{{ 'nylon-logo.jpg' | file_url }}" alt="Nylon" style="width: 133px; height: 26px;">
        </a>
      </div>
      <div class="featured-on-item yahoo">
        <img src="{{ 'Yahoo_Logo.png' | file_url }}" alt="Yahoo!" style="height: 46px;">
      </div>
    </div>
  </div>
</div>
