{% form 'contact' %}
  {% if form.posted_successfully? %}
    <p class="quote">{{'contact.form.post_success' | t}}</p>
  {% endif %}

  {% if form.errors %}
    <p class="quote">{{'general.forms.post_error' | t}}</p>
  {% endif %}

    {% assign name_attr='contact.form.phone' | t | handle %}
    <input type="tel" id="phone" name="phone" placeholder="{{'contact.form.phone' | t}}" pattern="[0-9\-]*"
      value="{% if form[name_attr] %}{{form[name_attr]}}{% elsif customer %}{{customer.phone}}{% endif %}">
    <div class="signup-arrow">
      <input type="submit" class="submit action_button" value="{{'contact.form.send' | t}}" />
    </div>
{% endform %}

<script src="{{ 'intlTelInput.js' | asset_url }}"></script>
<script> var input=document.querySelector("#phone"); window.intlTelInput(input,{geoIpLookup: function(callback){$.get("http://ipinfo.io", function(){}, "jsonp").always(function(resp){var countryCode=(resp && resp.country) ? resp.country : ""; callback(countryCode);});}, hiddenInput: "full_number", initialCountry: "auto", localizedCountries:{'de': 'Deutschland'}, nationalMode: false, placeholderNumberType: "MOBILE", preferredCountries: ['cn', 'jp'], separateDialCode: true, utilsScript: src="{{'utils.js' | asset_url}}",});</script>

