<!-- <head><script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><link rel="stylesheet" href="style.css" /><script src="script.js"></script></head> -->
{% if product.available %}
{% assign variant = product.selected_or_first_available_variant %}
<form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> 
  {% if product.available %}{% include 'subscription-product' %}{% endif %} 
  {% if product.variants.size > 1 %}
  <div class="product-options">
    <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
      {% for variant in product.variants %}
      <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
      {% endfor %}
    </select>
  </div>
  {% else %}
  <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
  {% endif %}
  <div class="quantity buttons_added">
    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
  </div>

  <div class="add-to-cart">
    {% if product.available %}
    <div class="product-form-submit-wrap">
      <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" />
      <div class="add-to-cart-loader"></div>
    </div>
    {% capture cart_link %}
    <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
    {% endcapture %}
    {% capture continue_link %}
    <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
    {% endcapture %}
    {% capture checkout_link %}
    <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
    {% endcapture %}
    {% capture product_item %}
    <span class='added-product-name'></span>
    {% endcapture %}
    <p class="product-add-error-message"></p>
    {% else %}
    <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
    {% endif %}
  </div>

</form>


<div class="sticky-cart-section">
  <div class="container inner">
    <!-- Product Image     -->
    <div class="prod-image">
      {%- case product.handle -%}
      {%- when 'ageless-eyes-day-cream' -%}
      <img src="//cdn.shopify.com/s/files/1/1212/4268/products/day-cream_DSC02821_2048x.png?v=1601299611" alt="">
      {%- when 'satin-eyes-night-mask' -%}
      <img src="//cdn.shopify.com/s/files/1/1212/4268/files/nightcream_DSC0305_2_544x544.png?v=1600701578" alt="">
      {%- when 'duo-eye-cream-kit' -%}
      <img src="//cdn.shopify.com/s/files/1/1212/4268/files/image_5_544x544.png?v=1600703163" alt="">
      {%- when 'maskne-face-spray' -%}
      <img src="//cdn.shopify.com/s/files/1/1212/4268/products/123_2048x.jpg?v=1603307883" alt="">
      {%- when 'maskne-relief-kit' -%}
      <img src="https://cdn.shopify.com/s/files/1/1212/4268/products/DSC0702_7705f991-07a5-47e1-8ccb-ec4d510371cb_2048x.jpg?v=1603990278" alt="">
      {%- when 'forever-radiant-kit' -%}
      <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Product_01_0311_R.jpg?v=1609267905" alt="">
      {%- endcase -%}
    </div>

    <!-- Product Title -->
    <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
    <!-- Product Price     -->
    <span itemprop="price" content="{{ variant.price | money_without_currency }}"
          class="price-wrap {% if variant.compare_at_price > variant.price %}sale{% endif %}">
      <span class="current_price {% if product.available == false %}hidden{% endif %}">
        {% if variant.price > 0 %}
        <span class="money">{{ variant.price | money }}</span>
        {% else %}
        {{ settings.free_price_text }}
        {% endif %}
      </span>
    </span>
    <span class="was_price">
      {% if variant.price < variant.compare_at_price and variant.available %}
      <span class="money">{{ variant.compare_at_price | money }}</span>
      {% endif %}
    </span>
    <form class="product-form" action="/cart/add" data-productid="{{product.id}}"  method="post"> 
      {% if product.available %}{% include 'subscription-product' %}{% endif %} 

      {% if product.variants.size > 1 %}
      <div class="product-options">
        <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
          {% for variant in product.variants %}
          <option {% if variant == selectedVariant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
      </div>
      {% else %}
      <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      <div class="quantity buttons_added">
        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
      </div>

      <div class="add-to-cart">
        {% if product.available %}
        <div class="product-form-submit-wrap">
          <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" />
          <div class="add-to-cart-loader"></div>
        </div>
        {% capture cart_link %}
        <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
        {% endcapture %}
        {% capture continue_link %}
        <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
        {% endcapture %}
        {% capture checkout_link %}
        <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
        {% endcapture %}
        {% capture product_item %}
        <span class='added-product-name'></span>
        {% endcapture %}
        <p class="product-add-error-message"></p>
        {% else %}
        <input type="button" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
        {% endif %}
      </div>

    </form>

  </div>
</div>

{% endif %}
<script>
  $(document).ready(function(){
    $(".afterpay-text1").text('4 installments of ');
  });

  function atcEvent(){
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'addToCart',
      'productPrice': "{{ variant.price | money }}"
    });
  }   
</script>

<p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer"></p>
<!-- <p class="afterpay-paragraph" data-product-id="4621007814743"><span class="afterpay-text1">4 installments of </span><strong class="afterpay-instalments">$37.25 </strong><span class="afterpay-text2"> by </span><img class="afterpay-logo" src="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-colour.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-colour@3x.png 3x" width="100" height="21" alt="Afterpay" style="vertical-align: middle; width: 100px; border: 0px;"><span class="afterpay-text3">&nbsp;</span><a class="afterpay-link" href="https://www.afterpay.com/purchase-payment-agreement" target="_blank"><u class="afterpay-link-inner" style="font-size: 12px; text-decoration: underline;">More info</u></a></p> -->
