{%- assign product = all_products[section.settings.single_product] -%}
{%- assign collection_handles = product.collections | map: 'handle' -%}
{% if product.empty? %}
{%- assign section_onboarding = true -%}
{% else %}
{%- assign section_onboarding = false -%}
{% endif %}
<div class="running-prod-img">
  {% include 'prod-images' %}
</div>
<div class="running-prod-text top-mar">
  <a class="cp-name" href="{{ product.url }}">{{ product.title }}</a>
  <div class="prcs">
    <p>{{ product.price | money }}</p>
    <p>{{product.compare_at_price | money}}</p>
  </div>
  <form action="/cart/add" method="post"
        class="clearfix product_form init {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
        id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
        data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        data-product-id="{{ product.id }}">
    {% assign variant = product.selected_or_first_available_variant %}
    <input type="hidden" name="id" value="{{ variant.id }}" />
    {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
    <button type="submit" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" name="add" class="cp-btn action_button add_to_cart" data-label="{{ add_to_cart_label | json }}"><span class="text">{{ add_to_cart_label }}</span></button>
  </form>
</div>
<style>.flex-control-thumbs {display: none;}</style>