{%- comment -%}
DB - 3/30/2020
Product recommendations for cart drawer
1. If they add  Clear Skin Kit - I want them to see 2 options in the cart. Luminours Toner + Exfoliating or MakeUp Remover (or all 3 if they fit). 
clear-skin-kit2 {cup-luminous-complexion-toner,cup-illuminating-essence-face-mask,cup-completely-clear-gelee-makeup-remover}

2. If they add Clear Skin Elixir - I want them to see Clear Skin Kit, Exofialiting mask and Makeup Remover. 
clear-skin-elixir-overnight-facemask {cup-clear-skin-kit2,cup-illuminating-essence-face-mask,cup-completely-clear-gelee-makeup-remover}

3. If they add body polish - I want them to see perfectionist serum, exfoliating mask and makeup remover.
rejuvenating-essence-body-polish {cup-perfectionist-overnight-serum,cup-illuminating-essence-face-mask,cup-completely-clear-gelee-makeup-remover}

4. If they bought ilumminating mask - I want them to see body polish, makeup remover and add clear skin elixir. 
illuminating-essence-face-mask {cup-rejuvenating-essence-body-polish,cup-completely-clear-gelee-makeup-remover,cup-clear-skin-elixir-overnight-facemask}

5. If they buy luminous toner - I want them to see luminous clear skin kit, makeup remover & exfoliating mask. 
luminous-complexion-toner {cup-clear-skin-kit2,cup-illuminating-essence-face-mask,cup-completely-clear-gelee-makeup-remover}

6. If they buy nourishement cream - I want them to see clear skin elixir, makeup remover & exfoliating mask 
flawless-nourishment-cream {cup-clear-skin-elixir-overnight-facemask,cup-illuminating-essence-face-mask,cup-completely-clear-gelee-makeup-remover}

7. If they buy hydration dew - I want them to see clear skin elixir, luminous toner, and makeup remover
clarifying-hydration-dew {cup-clear-skin-elixir-overnight-facemask,cup-luminous-complexion-toner,cup-completely-clear-gelee-makeup-remover}

8. If they buy perfectionist serum - I want them to see clear skin kit, luminous toner, makeup remover
perfectionist-overnight-serum {cup-clear-skin-kit2,cup-luminous-complexion-toner,cup-completely-clear-gelee-makeup-remover}

9. If they buy makeup remover - I want them to see perfectionist serum, exfoliating mask, and nourishement cream. 
completely-clear-gelee-makeup-remover {cup-perfectionist-overnight-serum,cup-illuminating-essence-face-mask,cup-flawless-nourishment-cream}

{%- endcomment -%}
{%- if cart.item_count > 0 -%}
<li class="recommendations">
	{%-comment-%}Build Upsell product list{%-endcomment-%}
  	{%- assign tagList = '' -%}
	{%- for product in collections.all.products -%}
    	{%- for tag in product.tags -%}
        	{%- if tag contains 'cup-' -%}
            	{%- assign handle = tag | replace: 'cup-', '' -%}
              	{%- unless tagList contains handle %}
                  {%- assign tagList = tagList | append: handle | append: "," -%}
                {%- endunless -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
  	
 
	{%-comment-%}Check cart for existing Upsell products and remove from Upsell list if exist{%-endcomment-%}
    {%- for item in cart.items -%}
    	{%- if tagList contains item.product.handle -%}
  			{%- assign tagList = tagList | replace: item.product.handle, "" -%}
  			{%- assign tagList = tagList | replace: ",,", "," -%}
      	{%- endif -%}
    {%- endfor -%}

	{%-comment-%}Build Recommended Upsell product list{%-endcomment-%}
    {%- assign recommended = '' -%}
    {%- for item in cart.items -%}
    	{%- for tag in item.product.tags -%}
        	{%- if tag contains 'cup-' -%}
            	{%- assign handle = tag | replace: 'cup-', '' -%}
                {%- unless recommended contains handle -%}
                  {%- if tagList contains handle -%}
                      {%- assign recommended = recommended | append: handle | append: "," -%}
                  {%- endif -%}
                {%- endunless -%}
      		{%- endif -%}
    	{%- endfor -%}
    {%- endfor -%}
  
	{%-comment-%}Add Recommended Upsell products to cart{%-endcomment-%}
  	{%- if recommended != blank -%}
      {%- assign products = recommended  | split: ',' -%}
      <h3>{{ 'cart.general.recommended_title' | t }}</h3>
      {%- for handle in products -%}
          {%- assign product = all_products[handle] -%}
          {%- if product.available -%}
              {%- assign variant = product.selected_or_first_available_variant -%}
              <p class="recommendation-wrapper">
                <span class="cart_image">
                  <img src="{{ product | img_url: '410x' }}" alt="{{ product.title | escape }}" />
                </span>
                <span class="item_info">
                    {{ product.title }}
                    {% comment %}
                    {% unless product.has_only_default_variant or variant.title contains "Title" %}
                      {% for option in product.options %}
                        {% unless option contains "Title" %}
                          - {{ variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                        {% endunless %}
                      {% endfor %}
                    {% endunless %}
                    {% endcomment %}
                    {%- capture add_to_cart_label -%}{%- if collection_handles contains 'pre-order' -%}{{ 'collections.general.pre_order' | t }}{%- else -%}{{ 'products.product.add_to_cart' | t }}{%- endif -%}{%- endcapture -%}
                    <span name="add_{{ variant.id }}" class="action_button add_to_cart" data-id="{{ variant.id }}">
                      <span class="text">{{ add_to_cart_label }}</span>
                    </span>
                </span>
                <span class="price">
                  <span class="money">{{ variant.price | money }}</span>
                </span>
              </p>
          {%- endif -%}
      {%- endfor -%}
  {%- endif -%}
</li>
{%- endif -%}

<style>
  li.recommendations {display:none;}
  li.recommendations h3 {
    position:relative !important;
    width:100% !important;
    text-align:center !important;
    top:0 !important;
	color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
  } 
  li.recommendations .recommendation-wrapper {width:100%;min-height:100px;padding: 10px 0px 10px 20px;;display:flex;}
  li.recommendations .recommendation-wrapper .cart_image {max-width:25%;}
  li.recommendations .recommendation-wrapper .item_info {max-width:45%;}
  li.recommendations .recommendation-wrapper .price {max-width:25%;}
  li.recommendations .recommendation-wrapper .item_info .action_button.add_to_cart {
    width: 70% !important;
    height: auto !important;
    font-size: 14px !important;
    padding: 10px 0 !important;
  }
  
  @media only screen and (max-width: 479px) {
  	li.recommendations .recommendation-wrapper {width:100%;min-height:100px;padding-left:0px;display:flex;}
    li.recommendations .recommendation-wrapper .cart_image.cart_image {max-width: 60px;padding-right: 10px;}  
  	li.recommendations .recommendation-wrapper .item_info {max-width:50%;}
  	li.recommendations .recommendation-wrapper .price {width:25%;text-align:right;}
  }
</style>

