<li>
    <a href="{{ product.url | within: collections }}" itemprop="url">
        <div class="">
            <div class="">
                <div class="" style="">
                    <img src="{{ product.featured_image | product_img_url: '100x' }}"
                         alt="{{ alt_text | escape }}"
                         class="lazyload lazyload--fade-in"
                         style="{{ align_height_value }} max-width: {{- product.featured_image.width -}}px;"
                         data-sizes="auto"
                         data-src="{{ product.featured_image | product_img_url: '2048x' }}"
                         data-srcset=" {{ product.featured_image | product_img_url: '2048x' }} 2048w,
                              {{ product.featured_image | product_img_url: '1600x' }} 1600w,
                              {{ product.featured_image | product_img_url: '1200x' }} 1200w,
                              {{ product.featured_image | product_img_url: '1000x' }} 1000w,
                              {{ product.featured_image | product_img_url: '800x' }} 800w,
                              {{ product.featured_image | product_img_url: '600x' }} 600w,
                              {{ product.featured_image | product_img_url: '400x' }} 400w"
                    />
                    {% if settings.collection_secondary_image != blank %}
                        <div class="image__container"
                             style="max-width: {% if product.images[1] != blank %}{{- product.images[1].width -}}px{% else %}{{- product.featured_image.width -}}px{% endif %}; ">
                            <img src="{% if product.images[1] != blank %}{{ product.images[1] | product_img_url: '900x' }}{% else %}{{ product.featured_image | product_img_url: '900x' }}{% endif %}"
                                 class="secondary lazyload"
                                 alt="{{ alt_text | escape }}"
                            />
                        </div>
                    {% endif %}
                    {% if settings.quick_shop_enabled %}
                        <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop ss-icon"
                              data-gallery="product-{{ product.id }}-gallery">
                                  <span class="icon-plus"></span>
                                </span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="info">
            <span class="title" itemprop="name">{{ product.title }}</span>
            {% if settings.display_vendor_collection %}
                <div class="vendor">
                    <span itemprop="brand">{{ product.vendor }}</span>
                </div>
            {% endif %}

            {% if settings.enable_shopify_collection_badges %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% endif %}

            {% unless collection_handles contains 'coming-soon' %}
                <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %} xxx"
                      itemprop="offers"
                      itemscope
                      itemtype="http://schema.org/Offer">
                            <meta itemprop="price" content="{{ product.price_min | money_without_currency }}"/>
                            <meta itemprop="priceCurrency" content="{{ shop.currency }}"/>
                            <meta itemprop="seller" content="{{ shop.name | escape }}"/>
                            <link itemprop="availability"
                                  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                            <meta itemprop="itemCondition" content="New"/>

                            {% if product.available %}
                                {% if product.price_varies and product.price_min > 0 %}
                                    <small><em>{{ 'products.general.from' | t }}</em></small>
                                {% endif %}
                                {% if product.price_min > 0 %}
                                <span class="money">{{ product.price_min | money }}</span>
                            {% else %}
                                {{ settings.free_price_text }}
                            {% endif %}
                                {% if product.compare_at_price_max > product.price %}
                                <span class="was_price">
                                        <span class="money">{{ product.compare_at_price_max | money }}</span>
                                    </span>
                            {% endif %}
                            {% else %}
                                <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
                            {% endif %}
                                </span>
            {% endunless %}

            <a href="{{ product.url }}">
                {% include 'new-new-product-form' with 'product' %}
            </a>
        </div>
        {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
            <div class="sale_banner">{{ 'collections.general.sale' | t }}</div>
        {% endif %}

        {% if collection_handles contains 'new' %}
            <div class="new_banner">{{ 'collections.general.new' | t }}</div>
        {% endif %}
        {% if collection_handles contains 'coming-soon' %}
            <div class="new_banner">{{ 'collections.general.coming_soon' | t }}</div>
        {% endif %}
        {% if collection_handles contains 'pre-order' %}
            <div class="new_banner">{{ 'collections.general.pre_order' | t }}</div>
        {% endif %}
    </a>
    {% include 'collection-swatch' %}
</li>
