<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js?property=5e87fa24cd57520012540269&product=custom-share-buttons&cms=sop' async='async'></script>
<div id="st-2" class=" st-sticky-share-buttons st-left st-toggleable st-has-labels st-show-total desktop">
  <div class="st-total st-hidden">
    <span class="st-label"></span>
    <span class="st-shares">
      Shares
    </span>
  </div>
  <div class="st-btn st-custom-button st-first" data-network="facebook" data-url="https://www.facebook.com/averraglow" style="display: inline-block;">
    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.34469 10.125L9.86325 6.86742H6.62096V4.75348C6.62096 3.86227 7.07388 2.99355 8.526 2.99355H10V0.220078C10 0.220078 8.66239 0 7.38349 0C4.71337 0 2.96806 1.56023 2.96806 4.38469V6.86742H0V10.125H2.96806V18H6.62096V10.125H9.34469Z" fill="#222222"/>
    </svg>
    <span class="st-label">Share</span>
  </div>
  <div class="st-btn st-custom-button" data-network="twitter" data-url="https://twitter.com/intent/tweet?" style="display: inline-block;">
    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.3554 3.48905C14.3655 3.64217 14.3655 3.79532 14.3655 3.94844C14.3655 8.61873 11.066 14 5.03555 14C3.17767 14 1.45179 13.4203 0 12.4141C0.26397 12.4469 0.517752 12.4578 0.791878 12.4578C2.32485 12.4578 3.73605 11.9 4.86296 10.9485C3.42133 10.9156 2.2132 9.89845 1.79694 8.49844C2.00001 8.53123 2.20304 8.55311 2.41626 8.55311C2.71067 8.55311 3.00511 8.50934 3.2792 8.43282C1.77666 8.10467 0.649721 6.68281 0.649721 4.96562V4.92189C1.08625 5.18439 1.59391 5.34845 2.13195 5.3703C1.24869 4.73591 0.670034 3.65311 0.670034 2.4281C0.670034 1.77186 0.832441 1.1703 1.11672 0.645296C2.73095 2.78904 5.15736 4.18902 7.87816 4.34217C7.82741 4.07967 7.79694 3.80626 7.79694 3.53282C7.79694 1.58592 9.25888 0 11.0761 0C12.0203 0 12.8731 0.426561 13.4721 1.11562C14.2132 0.962507 14.9238 0.66718 15.5533 0.262502C15.3096 1.08283 14.7919 1.7719 14.1117 2.20937C14.7716 2.13284 15.4112 1.93592 16 1.66251C15.5534 2.36248 14.995 2.9859 14.3554 3.48905Z" fill="black"/>
    </svg>
    <span class="st-label">Tweet</span>
  </div>
  <div class="st-btn st-custom-button" data-network="pinterest" data-url="https://pinterest.com/pin/create/button/?" style="display: inline-block;">
    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.96875 0C3.96094 0 0 2.4668 0 6.45913C0 8.99806 1.54688 10.4406 2.48438 10.4406C2.87109 10.4406 3.09375 9.44526 3.09375 9.16395C3.09375 8.82856 2.16797 8.11448 2.16797 6.71879C2.16797 3.81922 4.55859 1.76355 7.65234 1.76355C10.3125 1.76355 12.2812 3.15924 12.2812 5.72341C12.2812 7.63843 11.4492 11.2304 8.75391 11.2304C7.78125 11.2304 6.94922 10.5813 6.94922 9.65082C6.94922 8.28759 7.98047 6.96763 7.98047 5.56112C7.98047 3.17366 4.3125 3.60644 4.3125 6.49158C4.3125 7.09747 4.39453 7.76826 4.6875 8.32005C4.14844 10.4623 3.04688 13.654 3.04688 15.8611C3.04688 16.5427 3.15234 17.2135 3.22266 17.8951C3.35547 18.0322 3.28906 18.0178 3.49219 17.9492C5.46094 15.4608 5.39062 14.9739 6.28125 11.7173C6.76172 12.5612 8.00391 13.0156 8.98828 13.0156C13.1367 13.0156 15 9.28297 15 5.91816C15 2.33697 11.6484 0 7.96875 0Z" fill="black"/>
    </svg>
    <span class="st-label">Pin</span>
  </div>
  <div class="st-btn st-custom-button" data-network="linkedin" data-url="https://www.linkedin.com/shareArticle?" style="display: inline-block;">
    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.35759 15H0.247768V4.98527H3.35759V15ZM1.801 3.61917C0.806585 3.61917 0 2.79549 0 1.80104C7.11763e-09 1.32338 0.189748 0.865275 0.527502 0.527514C0.865256 0.189752 1.32335 0 1.801 0C2.27866 0 2.73675 0.189752 3.07451 0.527514C3.41226 0.865275 3.60201 1.32338 3.60201 1.80104C3.60201 2.79549 2.79509 3.61917 1.801 3.61917ZM14.9967 15H11.8935V10.1249C11.8935 8.96303 11.8701 7.47305 10.2767 7.47305C8.65982 7.47305 8.41205 8.73535 8.41205 10.0412V15H5.30558V4.98527H8.28817V6.35137H8.3317C8.74687 5.56452 9.76105 4.73415 11.2741 4.73415C14.4214 4.73415 15 6.80674 15 9.49876V15H14.9967Z" fill="black"/>
    </svg>
    <span class="st-label">Share</span>
  </div>
  <div class="st-btn st-custom-button st-last" data-network="email"  style="display: inline-block;">
    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.6969 3.9625C15.8187 3.86563 16 3.95625 16 4.10938V10.5C16 11.3281 15.3281 12 14.5 12H1.5C0.671875 12 0 11.3281 0 10.5V4.1125C0 3.95625 0.178125 3.86875 0.303125 3.96562C1.00312 4.50937 1.93125 5.2 5.11875 7.51562C5.77813 7.99687 6.89062 9.00938 8 9.00313C9.11563 9.0125 10.25 7.97813 10.8844 7.51562C14.0719 5.2 14.9969 4.50625 15.6969 3.9625ZM8 8C8.725 8.0125 9.76875 7.0875 10.2937 6.70625C14.4406 3.69688 14.7562 3.43437 15.7125 2.68437C15.8937 2.54375 16 2.325 16 2.09375V1.5C16 0.671875 15.3281 0 14.5 0H1.5C0.671875 0 0 0.671875 0 1.5V2.09375C0 2.325 0.10625 2.54062 0.2875 2.68437C1.24375 3.43125 1.55938 3.69688 5.70625 6.70625C6.23125 7.0875 7.275 8.0125 8 8Z" fill="black"/>
    </svg>
    <span class="st-label">Email</span>
  </div>
</div>

<div id="slide-blog" class="container clearfix parallax-banner parallax_effect--false desktop">
  <div class="sixteen columns blog-title-wrapper">  
    <div class="four columns l-margin-0">
      <p class="blog-title">
        <a href="/blogs/news">
          <svg width="187" height="40" viewBox="0 0 187 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6.40094V33.0009H5.282V6.40094H0Z" fill="black"/>
            <path d="M9.46734 6.40094V33.0009H14.7113V18.9789L21.7033 33.0009H26.3393V6.40094H21.0953V20.4609L14.1413 6.40094H9.46734Z" fill="black"/>
            <path d="M38.043 6.40094V11.7589H42.945V33.0009H48.227V11.7589H53.129V6.40094H38.043Z" fill="black"/>
            <path d="M56.5591 6.40094V33.0009H61.8411V23.6909H66.7051V33.0009H71.9871V6.40094H66.7051V18.3709H61.8411V6.40094H56.5591Z" fill="black"/>
            <path d="M76.1529 6.40094V33.0009H89.7189V27.6429H81.4349V22.6649H88.1609V17.3069H81.4349V11.7589H89.4909V6.40094H76.1529Z" fill="black"/>
            <path d="M110.898 19.0169V23.1969H113.634V24.1849C113.634 26.6169 112.342 27.8329 110.594 27.8329C107.402 27.8329 107.022 24.6029 107.022 19.7009C107.022 14.7989 107.402 11.5689 110.594 11.5689C112.076 11.5689 113.368 12.1389 113.368 13.8489V15.2549H118.574V13.8489C118.574 8.49094 114.888 6.21094 110.594 6.21094C102.766 6.21094 101.778 12.3289 101.778 19.7009C101.778 27.0729 102.766 33.1909 110.594 33.1909C114.698 33.1909 118.916 31.2149 118.916 24.1849V19.0169H110.898Z" fill="black"/>
            <path d="M122.345 6.40094V33.0009H135.455V27.5289H127.589V6.40094H122.345Z" fill="black"/>
            <path d="M137.829 19.7009C137.829 27.1109 138.779 33.1909 146.645 33.1909C154.549 33.1909 155.613 27.1109 155.613 19.7009C155.613 12.2909 154.549 6.21094 146.645 6.21094C138.779 6.21094 137.829 12.2909 137.829 19.7009ZM143.073 19.7009C143.073 14.7989 143.415 11.5689 146.645 11.5689C149.951 11.5689 150.331 14.7989 150.331 19.7009C150.331 24.6409 149.951 27.8329 146.645 27.8329C143.415 27.8329 143.073 24.6409 143.073 19.7009Z" fill="black"/>
            <path d="M166.541 21.0689L163.425 6.40094H158.105L163.957 33.0009H169.125L172.241 18.4469L175.395 33.0009H180.601L186.453 6.40094H181.171L177.979 20.9549L174.825 6.40094H169.695L166.541 21.0689Z" fill="black"/>
          </svg>
        </a>
      </p>
    </div>
    <div class="nine columns nav">
      <ul class="menu blog-cat-menu">
        {% for link in linklists['blog-menu'].links %}
        {% if linklists[link.handle] == empty %}
        <li><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
        {% else %}
        {% assign count = 0 %}
        {% for link in linklists[link.handle].links %}
        {% capture count %}{{ count }}*{% endcapture %}
        {% if linklists[link.handle] != empty %}
        {% for link in linklists[link.handle].links %}
        {% capture count %}{{ count }}*{% endcapture %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% assign column_threshold = section.settings.dropdown_column_links %}

        <li>
          <a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}</a>
          <div class="dropdown animated fadeIn {% if count.size > column_threshold %}dropdown-wide{% endif %}">
            <div class="dropdown_links clearfix">
              <ul>
                {% assign count = 0 %}
                {% assign split = false %}
                {% for link in linklists[link.handle].links %}
                {% capture count %}{{ count }}*{% endcapture %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% if linklists[link.handle] != empty %}
                {% for link in linklists[link.handle].links %}
                {% capture count %}{{ count }}*{% endcapture %}
                <li>
                  <a class="sub-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
                {% endif %}

                {% if count.size > column_threshold and split == false %}
                {% assign split = true %}
              </ul>
              <ul>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="three columns r-margin-0 align_right">
      <p>
        <a href="/search" title="Search" id="searchtoggle" class="icon-search right"></a>
      </p>
    </div>
    
  </div>
</div>

<div id="search" class="animated">
  <div class="container">
    <div class="ten columns offset-by-three center">
      <form action="/search">
        {% if settings.search_option != 'everything' %}
        	<input type="hidden" name="type" value="product"/>
        {% endif %}
        <div class="search-close"><span class="icon-close"></span></div>
        <span class="icon-search search-submit"></span>
        <input type="text" name="q"
                       placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}"
                       value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}"
                       autocapitalize="off" autocomplete="off" autocorrect="off"/>
       </form>
	</div>
  </div>
</div>

<style>
  .desktop {display: block !important;}
  .mobile {display: none !important;}

  p.blog-title {
    font-family: Stellar-Bold !important;
    font-style: normal;    
    font-size: 40px !important;
    line-height: 48px;
    text-align: center;
    font-weight: normal !important;
    margin:0;
  }
  .mobile-categories {
    margin: 20px;
    padding-top:20px;
    list-style: none !important;
  }
  .mobile-category {
    border: 1px solid #000000;    
  }
  .mobile-category button {
    font-family: Gotham-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height:48px;
    padding:0 20px;
    background:#fff;
  }
  .mobile-category button.categories {
    width: calc(100% - 48px);
    text-align:left;
    position:relative;
  }
  .mobile-category button.categories:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 12L16 20L24 12' stroke='%23222222' stroke-width='2'/%3E%3C/svg%3E");
    position:absolute;
    right:8px;
    top:8px;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
  }
  .mobile-category button.search {
    width:48px;
    border-left:solid 1px #000000;
    float:right;
    background:#fff;
    border-radius:0;
    background:#fff;
    padding:0;
    font-size: 23px !important;
  }
  .mobile-category button.search.icon-search {
    margin-right:0;    
  }
  .mobile-category button.search.icon-search:before {
    width:23px;
  }
  .mobile-categories .menu.blog-cat-menu {
    background: #F7F7F7;

    list-style: none;
    padding:10px 20px;
    margin-left:0;
  }
  .mobile-categories .menu.blog-cat-menu a {
    font-family: Gotham-bold !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 16px;
    line-height: 40px;
    color: #222222;
    text-transform:uppercase !important;
  }
  .mobile-categories .menu.blog-cat-menu ul {
    margin: 4px 0 5px 0px;
    list-style: none !important;
  }
  .mobile-categories .menu.blog-cat-menu ul li {
    padding-left: 26px;
    margin:0;
    position:relative;
  }
  .mobile-categories .menu.blog-cat-menu ul li:before {
    content:"";
    width:16px;
    border-left:solid 1px #555;
    position:absolute;
    top:0%;
    left:0;
    height:100%;
  }
  .mobile-categories .menu.blog-cat-menu ul li:last-child:before {
    height:50%;
  }
  .mobile-categories .menu.blog-cat-menu ul li a {
    text-transform:none;
  }
  .mobile-categories .menu.blog-cat-menu ul li a:before {
    content:"";
    width:16px;
    border-bottom:solid 1px #555;
    position:absolute;
    top:50%;
    left:0;
  }
  .mobile-categories .menu.blog-cat-menu ul a {
    padding-left:0;
    font-family:Gotham-book !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
  }
</style>


<div class="blog-header mobile" style="display:none !important;">
  <p class="blog-title">
    <a href="/blogs/news">
      <svg width="187" height="40" viewBox="0 0 187 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 6.40094V33.0009H5.282V6.40094H0Z" fill="black"/>
        <path d="M9.46734 6.40094V33.0009H14.7113V18.9789L21.7033 33.0009H26.3393V6.40094H21.0953V20.4609L14.1413 6.40094H9.46734Z" fill="black"/>
        <path d="M38.043 6.40094V11.7589H42.945V33.0009H48.227V11.7589H53.129V6.40094H38.043Z" fill="black"/>
        <path d="M56.5591 6.40094V33.0009H61.8411V23.6909H66.7051V33.0009H71.9871V6.40094H66.7051V18.3709H61.8411V6.40094H56.5591Z" fill="black"/>
        <path d="M76.1529 6.40094V33.0009H89.7189V27.6429H81.4349V22.6649H88.1609V17.3069H81.4349V11.7589H89.4909V6.40094H76.1529Z" fill="black"/>
        <path d="M110.898 19.0169V23.1969H113.634V24.1849C113.634 26.6169 112.342 27.8329 110.594 27.8329C107.402 27.8329 107.022 24.6029 107.022 19.7009C107.022 14.7989 107.402 11.5689 110.594 11.5689C112.076 11.5689 113.368 12.1389 113.368 13.8489V15.2549H118.574V13.8489C118.574 8.49094 114.888 6.21094 110.594 6.21094C102.766 6.21094 101.778 12.3289 101.778 19.7009C101.778 27.0729 102.766 33.1909 110.594 33.1909C114.698 33.1909 118.916 31.2149 118.916 24.1849V19.0169H110.898Z" fill="black"/>
        <path d="M122.345 6.40094V33.0009H135.455V27.5289H127.589V6.40094H122.345Z" fill="black"/>
        <path d="M137.829 19.7009C137.829 27.1109 138.779 33.1909 146.645 33.1909C154.549 33.1909 155.613 27.1109 155.613 19.7009C155.613 12.2909 154.549 6.21094 146.645 6.21094C138.779 6.21094 137.829 12.2909 137.829 19.7009ZM143.073 19.7009C143.073 14.7989 143.415 11.5689 146.645 11.5689C149.951 11.5689 150.331 14.7989 150.331 19.7009C150.331 24.6409 149.951 27.8329 146.645 27.8329C143.415 27.8329 143.073 24.6409 143.073 19.7009Z" fill="black"/>
        <path d="M166.541 21.0689L163.425 6.40094H158.105L163.957 33.0009H169.125L172.241 18.4469L175.395 33.0009H180.601L186.453 6.40094H181.171L177.979 20.9549L174.825 6.40094H169.695L166.541 21.0689Z" fill="black"/>
      </svg>
    </a>
  </p>
</div>
<div class="mobile-categories mobile">  
  <div class="mobile-category">
    <button class="categories">CATEGORIES</button>
    <button class="search icon-search right" id="search-toggle" ></button>
  </div>
  <ul class="menu blog-cat-menu" style="display:none;">
    {% for link in linklists['blog-menu'].links %}
    {% if linklists[link.handle] == empty %}
    <li><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
    {% else %}
    {% assign count = 0 %}
    {% for link in linklists[link.handle].links %}
    {% capture count %}{{ count }}*{% endcapture %}
    {% if linklists[link.handle] != empty %}
    {% for link in linklists[link.handle].links %}
    {% capture count %}{{ count }}*{% endcapture %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% assign column_threshold = section.settings.dropdown_column_links %}
    <li>
      <a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}</a>
      <div class="">
        <div class="clearfix">
          <ul>
            {% assign count = 0 %}
            {% assign split = false %}
            {% for link in linklists[link.handle].links %}
            {% capture count %}{{ count }}*{% endcapture %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% if linklists[link.handle] != empty %}
            {% for link in linklists[link.handle].links %}
            {% capture count %}{{ count }}*{% endcapture %}
            <li>
              <a class="sub-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
            {% endif %}

            {% if count.size > column_threshold and split == false %}
            {% assign split = true %}
          </ul>
          <ul>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}  
  </ul>
</div>

{% if article.image and section.settings.banner_image %}
<div id="slide-article" class="parallax-banner featured-image--{{section.settings.banner_image}} parallax_effect--{{ section.settings.parallax_effect }}">
  <div class="lazyload bcg"
       {% if section.settings.parallax_effect %}
       data-bottom-top="background-position: 50% 0px;"
       data-top-bottom="background-position: 50% -200px;"
       data-anchor-target="#slide-article"
       data-bgset="  {{ article.image | img_url: '2048x' }} 2048w,
                   {{ article.image | img_url: '1600x' }} 1600w,
                   {{ article.image | img_url: '1200x' }} 1200w,
                   {{ article.image | img_url: '1000x' }} 1000w,
                   {{ article.image | img_url: '800x' }} 800w,
                   {{ article.image | img_url: '600x' }} 600w,
                   {{ article.image | img_url: '400x' }} 400w"
       data-sizes="100vw"
       {% endif %}
       >
    <div class="hsContainer image-darken--{{ section.settings.slideshow_article_darken }}">
      <img  src="{{ article.image | img_url: '100x' }}"
           alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
           data-src="{{ article.image | img_url: '2048x' }}"
           class="lazyload lazyload--fade-in hsContainer__image"
           sizes="100vw"
           srcset="  {{ article.image | img_url: '2048x' }} 2048w,
                   {{ article.image | img_url: '1600x' }} 1600w,
                   {{ article.image | img_url: '1200x' }} 1200w,
                   {{ article.image | img_url: '1000x' }} 1000w,
                   {{ article.image | img_url: '800x' }} 800w,
                   {{ article.image | img_url: '600x' }} 600w,
                   {{ article.image | img_url: '400x' }} 400w"
           />
    </div>
    <div class="pinterest-overlay" >
      <a target="_blank" href="https://www.pinterest.com/pin/create/button/?url={{ canonical_url }}&amp;media={{  article.image | img_url }}&amp;description=" tabindex="0">
        <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.96875 0C3.96094 0 0 2.4668 0 6.45913C0 8.99806 1.54688 10.4406 2.48438 10.4406C2.87109 10.4406 3.09375 9.44526 3.09375 9.16395C3.09375 8.82856 2.16797 8.11448 2.16797 6.71879C2.16797 3.81922 4.55859 1.76355 7.65234 1.76355C10.3125 1.76355 12.2812 3.15924 12.2812 5.72341C12.2812 7.63843 11.4492 11.2304 8.75391 11.2304C7.78125 11.2304 6.94922 10.5813 6.94922 9.65082C6.94922 8.28759 7.98047 6.96763 7.98047 5.56112C7.98047 3.17366 4.3125 3.60644 4.3125 6.49158C4.3125 7.09747 4.39453 7.76826 4.6875 8.32005C4.14844 10.4623 3.04688 13.654 3.04688 15.8611C3.04688 16.5427 3.15234 17.2135 3.22266 17.8951C3.35547 18.0322 3.28906 18.0178 3.49219 17.9492C5.46094 15.4608 5.39062 14.9739 6.28125 11.7173C6.76172 12.5612 8.00391 13.0156 8.98828 13.0156C13.1367 13.0156 15 9.28297 15 5.91816C15 2.33697 11.6484 0 7.96875 0Z" fill="black"/>
        </svg>
      </a>
    </div>
  </div>
</div>
{% endif %}

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
{% assign sidebar = true %}
{% else %}
{% assign sidebar = false %}
{% endif %}

<div class="container clearfix breadcrumb">
  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="#F9DBD0"/></svg>
  <a href="/blogs/news" style="padding-left:16px;">In The Glow</a>
</div>

<div class="container main content main-wrapper">
  {% paginate article.comments by 100 %}

  <div class="sixteen columns clearfix title-wrapper l-margin-0">
    <div class="eleven columns l-margin-0">
      <h1 class="headline">
        {{ article.title }}
      </h1>
    </div>
    <div class="five columns">
      <div class="gravatar one column alpha center" data-email="{{ article.user.email }}">
        {% if article.user.image %}
        <img src="{{ article.user.image | img_url: '250x250' }}" alt="{{ article.author }}" />
        {%else%}
        <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=80&r=G" alt="{{ article.author }}" />
        {%endif%}
      </div>
      <div class="comment-body three columns omega author">
        Written by
        {%- assign url = article.author | replace: ' ', '-' | downcase -%}
        <h6><a href="/pages/{{ url }}">{{ article.author }}</a></h6>
      </div>
    </div>
  </div>  

  <div class="eleven columns {% if sidebar == false %}offset-by-two{% endif %} article">
    <div class="section clearfix">
      {% if section.settings.display_social_buttons %}
      <div id="st-2" class=" st-sticky-share-buttons st-left st-toggleable st-has-labels st-show-total mobile">
        <div class="st-total st-hidden">
          <span class="st-label"></span>
          <span class="st-shares">
            Shares
          </span>
        </div>
        <div class="st-btn st-custom-button st-first" data-network="facebook" data-url="https://www.facebook.com/averraglow" style="display: inline-block;">
          <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.34469 10.125L9.86325 6.86742H6.62096V4.75348C6.62096 3.86227 7.07388 2.99355 8.526 2.99355H10V0.220078C10 0.220078 8.66239 0 7.38349 0C4.71337 0 2.96806 1.56023 2.96806 4.38469V6.86742H0V10.125H2.96806V18H6.62096V10.125H9.34469Z" fill="#222222"/>
          </svg>
          <span class="st-label">Share</span>
        </div>
        <div class="st-btn st-custom-button" data-network="twitter" data-url="https://twitter.com/intent/tweet?" style="display: inline-block;">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3554 3.48905C14.3655 3.64217 14.3655 3.79532 14.3655 3.94844C14.3655 8.61873 11.066 14 5.03555 14C3.17767 14 1.45179 13.4203 0 12.4141C0.26397 12.4469 0.517752 12.4578 0.791878 12.4578C2.32485 12.4578 3.73605 11.9 4.86296 10.9485C3.42133 10.9156 2.2132 9.89845 1.79694 8.49844C2.00001 8.53123 2.20304 8.55311 2.41626 8.55311C2.71067 8.55311 3.00511 8.50934 3.2792 8.43282C1.77666 8.10467 0.649721 6.68281 0.649721 4.96562V4.92189C1.08625 5.18439 1.59391 5.34845 2.13195 5.3703C1.24869 4.73591 0.670034 3.65311 0.670034 2.4281C0.670034 1.77186 0.832441 1.1703 1.11672 0.645296C2.73095 2.78904 5.15736 4.18902 7.87816 4.34217C7.82741 4.07967 7.79694 3.80626 7.79694 3.53282C7.79694 1.58592 9.25888 0 11.0761 0C12.0203 0 12.8731 0.426561 13.4721 1.11562C14.2132 0.962507 14.9238 0.66718 15.5533 0.262502C15.3096 1.08283 14.7919 1.7719 14.1117 2.20937C14.7716 2.13284 15.4112 1.93592 16 1.66251C15.5534 2.36248 14.995 2.9859 14.3554 3.48905Z" fill="black"/>
          </svg>
          <span class="st-label">Tweet</span>
        </div>
        <div class="st-btn st-custom-button" data-network="pinterest" data-url="https://pinterest.com/pin/create/button/?" style="display: inline-block;">
          <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.96875 0C3.96094 0 0 2.4668 0 6.45913C0 8.99806 1.54688 10.4406 2.48438 10.4406C2.87109 10.4406 3.09375 9.44526 3.09375 9.16395C3.09375 8.82856 2.16797 8.11448 2.16797 6.71879C2.16797 3.81922 4.55859 1.76355 7.65234 1.76355C10.3125 1.76355 12.2812 3.15924 12.2812 5.72341C12.2812 7.63843 11.4492 11.2304 8.75391 11.2304C7.78125 11.2304 6.94922 10.5813 6.94922 9.65082C6.94922 8.28759 7.98047 6.96763 7.98047 5.56112C7.98047 3.17366 4.3125 3.60644 4.3125 6.49158C4.3125 7.09747 4.39453 7.76826 4.6875 8.32005C4.14844 10.4623 3.04688 13.654 3.04688 15.8611C3.04688 16.5427 3.15234 17.2135 3.22266 17.8951C3.35547 18.0322 3.28906 18.0178 3.49219 17.9492C5.46094 15.4608 5.39062 14.9739 6.28125 11.7173C6.76172 12.5612 8.00391 13.0156 8.98828 13.0156C13.1367 13.0156 15 9.28297 15 5.91816C15 2.33697 11.6484 0 7.96875 0Z" fill="black"/>
          </svg>
          <span class="st-label">Pin</span>
        </div>
        <div class="st-btn st-custom-button" data-network="linkedin" data-url="https://www.linkedin.com/shareArticle?" style="display: inline-block;">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.35759 15H0.247768V4.98527H3.35759V15ZM1.801 3.61917C0.806585 3.61917 0 2.79549 0 1.80104C7.11763e-09 1.32338 0.189748 0.865275 0.527502 0.527514C0.865256 0.189752 1.32335 0 1.801 0C2.27866 0 2.73675 0.189752 3.07451 0.527514C3.41226 0.865275 3.60201 1.32338 3.60201 1.80104C3.60201 2.79549 2.79509 3.61917 1.801 3.61917ZM14.9967 15H11.8935V10.1249C11.8935 8.96303 11.8701 7.47305 10.2767 7.47305C8.65982 7.47305 8.41205 8.73535 8.41205 10.0412V15H5.30558V4.98527H8.28817V6.35137H8.3317C8.74687 5.56452 9.76105 4.73415 11.2741 4.73415C14.4214 4.73415 15 6.80674 15 9.49876V15H14.9967Z" fill="black"/>
          </svg>
          <span class="st-label">Share</span>
        </div>
        <div class="st-btn st-custom-button st-last" data-network="email"  style="display: inline-block;">
          <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6969 3.9625C15.8187 3.86563 16 3.95625 16 4.10938V10.5C16 11.3281 15.3281 12 14.5 12H1.5C0.671875 12 0 11.3281 0 10.5V4.1125C0 3.95625 0.178125 3.86875 0.303125 3.96562C1.00312 4.50937 1.93125 5.2 5.11875 7.51562C5.77813 7.99687 6.89062 9.00938 8 9.00313C9.11563 9.0125 10.25 7.97813 10.8844 7.51562C14.0719 5.2 14.9969 4.50625 15.6969 3.9625ZM8 8C8.725 8.0125 9.76875 7.0875 10.2937 6.70625C14.4406 3.69688 14.7562 3.43437 15.7125 2.68437C15.8937 2.54375 16 2.325 16 2.09375V1.5C16 0.671875 15.3281 0 14.5 0H1.5C0.671875 0 0 0.671875 0 1.5V2.09375C0 2.325 0.10625 2.54062 0.2875 2.68437C1.24375 3.43125 1.55938 3.69688 5.70625 6.70625C6.23125 7.0875 7.275 8.0125 8 8Z" fill="black"/>
          </svg>
          <span class="st-label">Email</span>
        </div>
      </div>
      {% endif %}

      {% if section.settings.blog_tags and sidebar %}
      <div class="blog_meta tags {% if article.image and section.settings.banner_image %}right{% endif %}">
        {% for tag in article.tags %}
        <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}

      {% unless article.image and section.settings.banner_image %}
      <h1 class="article_title {% unless sidebar %}align_center{% endunless %}">{{ article.title }}</h1>
      {% unless sidebar %}
      <div class="feature_divider"></div>
      {% endunless %}
      {% endunless %}

      {% if section.settings.blog_tags and sidebar == false %}
      <div class="blog_meta tags right">
        {% for tag in article.tags %}
        <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}

      {% if article.image and section.settings.banner_image == false %}
      <p>
        <img  src="{{ article.image | img_url: '100x' }}"
             alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
             data-src="{{ article.image | img_url: '2048x' }}"
             class="lazyload lazyload--fade-in"
             style="max-width: {{- article.image.width -}}px"
             data-sizes="auto"
             data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                          {{ article.image | img_url: '1600x' }} 1600w,
                          {{ article.image | img_url: '1200x' }} 1200w,
                          {{ article.image | img_url: '1000x' }} 1000w,
                          {{ article.image | img_url: '800x' }} 800w,
                          {{ article.image | img_url: '600x' }} 600w,
                          {{ article.image | img_url: '400x' }} 400w"
             />
      </p>
      {% endif %}

      {{ article.content }}

      <span class="clear"></span>

      {% if section.settings.display_social_buttons %}
      <div id="st-2" class=" st-sticky-share-buttons st-left st-toggleable st-has-labels st-show-total bottom">
        <div class="st-total st-hidden">
          <span class="st-label"></span>
          <span class="st-shares">
            Shares
          </span>
        </div>
        <div class="st-btn st-custom-button st-first" data-network="facebook" data-url="https://www.facebook.com/averraglow">
          <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.34469 10.125L9.86325 6.86742H6.62096V4.75348C6.62096 3.86227 7.07388 2.99355 8.526 2.99355H10V0.220078C10 0.220078 8.66239 0 7.38349 0C4.71337 0 2.96806 1.56023 2.96806 4.38469V6.86742H0V10.125H2.96806V18H6.62096V10.125H9.34469Z" fill="#222222"/>
          </svg>
        </div>
        <div class="st-btn st-custom-button" data-network="twitter" data-url="https://twitter.com/intent/tweet?">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3554 3.48905C14.3655 3.64217 14.3655 3.79532 14.3655 3.94844C14.3655 8.61873 11.066 14 5.03555 14C3.17767 14 1.45179 13.4203 0 12.4141C0.26397 12.4469 0.517752 12.4578 0.791878 12.4578C2.32485 12.4578 3.73605 11.9 4.86296 10.9485C3.42133 10.9156 2.2132 9.89845 1.79694 8.49844C2.00001 8.53123 2.20304 8.55311 2.41626 8.55311C2.71067 8.55311 3.00511 8.50934 3.2792 8.43282C1.77666 8.10467 0.649721 6.68281 0.649721 4.96562V4.92189C1.08625 5.18439 1.59391 5.34845 2.13195 5.3703C1.24869 4.73591 0.670034 3.65311 0.670034 2.4281C0.670034 1.77186 0.832441 1.1703 1.11672 0.645296C2.73095 2.78904 5.15736 4.18902 7.87816 4.34217C7.82741 4.07967 7.79694 3.80626 7.79694 3.53282C7.79694 1.58592 9.25888 0 11.0761 0C12.0203 0 12.8731 0.426561 13.4721 1.11562C14.2132 0.962507 14.9238 0.66718 15.5533 0.262502C15.3096 1.08283 14.7919 1.7719 14.1117 2.20937C14.7716 2.13284 15.4112 1.93592 16 1.66251C15.5534 2.36248 14.995 2.9859 14.3554 3.48905Z" fill="black"/>
          </svg>
        </div>
        <div class="st-btn st-custom-button" data-network="pinterest" data-url="https://pinterest.com/pin/create/button/?" >
          <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.96875 0C3.96094 0 0 2.4668 0 6.45913C0 8.99806 1.54688 10.4406 2.48438 10.4406C2.87109 10.4406 3.09375 9.44526 3.09375 9.16395C3.09375 8.82856 2.16797 8.11448 2.16797 6.71879C2.16797 3.81922 4.55859 1.76355 7.65234 1.76355C10.3125 1.76355 12.2812 3.15924 12.2812 5.72341C12.2812 7.63843 11.4492 11.2304 8.75391 11.2304C7.78125 11.2304 6.94922 10.5813 6.94922 9.65082C6.94922 8.28759 7.98047 6.96763 7.98047 5.56112C7.98047 3.17366 4.3125 3.60644 4.3125 6.49158C4.3125 7.09747 4.39453 7.76826 4.6875 8.32005C4.14844 10.4623 3.04688 13.654 3.04688 15.8611C3.04688 16.5427 3.15234 17.2135 3.22266 17.8951C3.35547 18.0322 3.28906 18.0178 3.49219 17.9492C5.46094 15.4608 5.39062 14.9739 6.28125 11.7173C6.76172 12.5612 8.00391 13.0156 8.98828 13.0156C13.1367 13.0156 15 9.28297 15 5.91816C15 2.33697 11.6484 0 7.96875 0Z" fill="black"/>
          </svg>
        </div>
        <div class="st-btn st-custom-button" data-network="linkedin" data-url="https://www.linkedin.com/shareArticle?">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.35759 15H0.247768V4.98527H3.35759V15ZM1.801 3.61917C0.806585 3.61917 0 2.79549 0 1.80104C7.11763e-09 1.32338 0.189748 0.865275 0.527502 0.527514C0.865256 0.189752 1.32335 0 1.801 0C2.27866 0 2.73675 0.189752 3.07451 0.527514C3.41226 0.865275 3.60201 1.32338 3.60201 1.80104C3.60201 2.79549 2.79509 3.61917 1.801 3.61917ZM14.9967 15H11.8935V10.1249C11.8935 8.96303 11.8701 7.47305 10.2767 7.47305C8.65982 7.47305 8.41205 8.73535 8.41205 10.0412V15H5.30558V4.98527H8.28817V6.35137H8.3317C8.74687 5.56452 9.76105 4.73415 11.2741 4.73415C14.4214 4.73415 15 6.80674 15 9.49876V15H14.9967Z" fill="black"/>
          </svg>
        </div>
        <div class="st-btn st-custom-button st-last" data-network="email">
          <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.6969 3.9625C15.8187 3.86563 16 3.95625 16 4.10938V10.5C16 11.3281 15.3281 12 14.5 12H1.5C0.671875 12 0 11.3281 0 10.5V4.1125C0 3.95625 0.178125 3.86875 0.303125 3.96562C1.00312 4.50937 1.93125 5.2 5.11875 7.51562C5.77813 7.99687 6.89062 9.00938 8 9.00313C9.11563 9.0125 10.25 7.97813 10.8844 7.51562C14.0719 5.2 14.9969 4.50625 15.6969 3.9625ZM8 8C8.725 8.0125 9.76875 7.0875 10.2937 6.70625C14.4406 3.69688 14.7562 3.43437 15.7125 2.68437C15.8937 2.54375 16 2.325 16 2.09375V1.5C16 0.671875 15.3281 0 14.5 0H1.5C0.671875 0 0 0.671875 0 1.5V2.09375C0 2.325 0.10625 2.54062 0.2875 2.68437C1.24375 3.43125 1.55938 3.69688 5.70625 6.70625C6.23125 7.0875 7.275 8.0125 8 8Z" fill="black"/>
          </svg>
        </div>
      </div>
      {% endif %}

      <span class="clear"></span>

      <div class="clear" id="comments"></div>

      <span class="clear"></span>

      {% if settings.disqus_enabled %}
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = "{{ canonical_url }}";
          this.page.identifier = "{{ article.id }}";
        };
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>

  </div>
  {% endpaginate %}

  {%-comment-%}{% include "blog-sidebar", blog_handle: blog.handle %}{%-endcomment-%}



  <div class="sixteen columns author_bio">
    <div class="section clearfix">
      <div class="gravatar one column alpha center" data-email="{{ article.user.email }}">
        {% if article.user.image %}
        <img src="{{ article.user.image | img_url: '250x250' }}" alt="{{ article.author }}" />
        {%else%}
        <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=0&r=G" alt="{{ article.author }}" />
        {%endif%}
      </div>
      <div class="comment-body four columns omega author">
        {%- assign url = article.author | replace: ' ', '-' | downcase -%}
        <span>Written by</span>
        <h6><a href="/pages/{{ url }}">{{ article.author }}</a></h6>
        {% unless article.user.homepage == blank  %}
        {% assign social = article.user.homepage | split: "," %}
        {% unless social[0] == 'https://www.facebook.com/' %}
        <a href="{{ social[0] }}" class="author-social" target="_blank" style="padding-left:0;"><img src="{{ 'blog-facebook.png' | file_url }}" alt="facebook" /></a>
        {% endunless %}
        {% unless social[1] == 'https://www.twitter.com/' %}
        <a href="{{ social[1] }}" class="author-social" target="_blank"><img src="{{ 'blog-twitter.png' | file_url }}" alt="twitter" /></a>
        {% endunless %}
        {% unless social[2] == 'https://www.instagram.com/' %}
        <a href="{{ social[2] }}" class="author-social" target="_blank"><img src="{{ 'blog-instagram.png' | file_url }}" alt="instagram" /></a>
        {% endunless %}
        {% endunless %}

      </div>
      <div class="comment-body eight columns">
        {{ article.user.bio }}
      </div>
    </div>
  </div>

  <div class="sixteen columns related_products margin-0">
    <div class="related_products_title margin-0"><h2>Related Products</h2><span class="divider"></span></div>
    <div class="section clearfix related_products_wrapper margin-0">
      {%- for block in section.blocks -%}
      {%- if block.type == 'product_block' -%}
      {%- assign product = all_products[block.settings.featured] -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}

      <div class="related_products_item">
        <a href="{{ product.url }}">
          <img data-src="{{ featured_image | img_url: '600x' }}"
               alt="{{ featured_image.alt }}"
               class="lazyload"
               data-sizes="auto"
               data-srcset=" {{ featured_image | img_url: '2048x' }} 2048w,
                            {{ featured_image | img_url: '1600x' }} 1600w,
                            {{ featured_image | img_url: '1200x' }} 1200w,
                            {{ featured_image | img_url: '1000x' }} 1000w,
                            {{ featured_image | img_url: '800x' }} 800w,
                            {{ featured_image | img_url: '600x' }} 600w,
                            {{ featured_image | img_url: '400x' }} 400w"
               />
        </a>

        <h1>{{ product.title }}</h1>
        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
        <div class="price_block">
          <h1>{{ variant.price | money }}</h1>
          <h3>{{ variant.compare_at_price | money }}</h3>
        </div>
        <form action="/cart/add" method="post"
              class="clearfix product_form init {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
              id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
              data-money-format="{{ shop.money_format }}"
              data-shop-currency="{{ shop.currency }}"
              data-product="{{ product | json | escape }}"
              data-product-id="{{ product.id }}">
          {% assign variant = product.selected_or_first_available_variant %}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          {% capture add_to_cart_label %}Shop Now{% endcapture %}
          <button type="submit" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
        </form>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>

  {%- for tag in article.tags -%}
  {%- if tag contains 'cat_' -%}
  {%- assign cat = tag | replace: "cat_", "" | capitalize -%}
  {%- endif -%}
  {%- endfor -%}
  {%- include 'blog-home-category',category:cat -%}
  {%- include 'blog-popular' -%}
  <div class="container clearfix bottom-margin top38"></div> 

</div>



<style>
  {% if section.settings.banner_image %}
  .featured_image--true ~ .main-wrapper {
    padding: 0;
  }
  {% endif %}
  {% if section.settings.parallax_effect %}
  #slide-article .hsContainer {
    height: {{ section.settings.parallax_image_height }}px;
  }
  @media only screen and (max-width: 767px) {
    #slide-article .hsContainer {
      height: auto;
    }
  }
  {% endif %}


</style>

{% schema %}
{
"name": "Blog post",
"class": "article-template-section",
"settings": [
{
"type": "checkbox",
"id": "blog_breadcrumb",
"label": "Show breadcrumb links"
},
{
"type": "checkbox",
"id": "blog_tags",
"label": "Show blog post tags"
},
{
"type": "checkbox",
"id": "blog_author",
"label": "Show author"
},
{
"type": "checkbox",
"id": "blog_date",
"label": "Show date",
"default": true
},
{
"type": "checkbox",
"id": "display_social_buttons",
"label": "Show social media share icons",
"default": true
},
{
"type": "checkbox",
"id": "blog_comment_count",
"label": "Show comment count",
"default": true
},
{
"type": "checkbox",
"id": "read_more_link",
"label": "Show continue reading link for blog post excerpts",
"default": true
},
{
"type": "checkbox",
"id": "blog_additional_articles",
"label": "Show additional posts",
"default": true
},
{
"type": "checkbox",
"id": "banner_image",
"label": "Show blog post banner image",
"info": "The post's featured image will be used as a full-width banner",
"default": true
},
{
"type": "select",
"id": "text_position",
"label": "Text position",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
},
{
"type": "select",
"id": "text_alignment",
"label": "Text alignment",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
},
{
"type": "checkbox",
"id": "slideshow_article_darken",
"label": "Darken blog post banner image",
"default": false
},
{
"type": "header",
"content": "Parallax"
},
{
"type": "checkbox",
"id": "parallax_effect",
"label": "Enable parallax scrolling",
"default": true
},
{
"type": "range",
"id": "parallax_image_height",
"label": "Parallax section height",
"min": 300,
"max": 1000,
"step": 20,
"default": 400,
"unit": "px"
},    
{
"type": "header",
"content": "Sidebar"
},
{
"type": "paragraph",
"content": "Create a sidebar by adding content blocks."
},
{
"type": "checkbox",
"id": "toggle",
"label": "Toggle sidebar content"
}
],
"blocks": [
{
"type": "product_block",
"name": "Products",
"settings": [
{
"type": "product",
"id": "featured",
"label": "Featured Product"
}
]
},
{
"type": "search",
"name": "Search form",
"limit": 1
},
{
"type": "newsletter",
"name": "Newsletter sign up form",
"limit": 1,
"settings": [
{
"type": "text",
"id": "newsletter_headline",
"label": "Heading",
"default": "Subscribe"
},
{
"type": "richtext",
"id": "newsletter_subtitle",
"label": "Subheading",
"default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
}
]
},
{
"type": "recent_posts",
"name": "Recent blog posts",
"limit": 1
},
{
"type": "post_tags",
"name": "Blog post tags",
"limit": 1
},
{
"type": "menu",
"name": "Menu",
"settings": [
{
"type": "link_list",
"id": "custom_menu_linklist",
"label": "Menu"
}
]
},
{
"type": "text",
"name": "Text",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "<p>Text area can be used for details about blog authors or general information.</p>"
}
]
},
{
"type": "page",
"name": "Page",
"settings": [
{
"type": "page",
"id": "content_page",
"label": "Page"
}
]
}
]
}
{% endschema %}
<style>
  .container.clearfix {clear:both;}
  .blog-title-wrapper {display:flex !important;align-items:center;margin:32px 0;}
  .blog-title-wrapper p {
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    margin-bottom:0;
  }
  .blog-title-wrapper p.blog-title {
    font-family: Stellar-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: normal;
    display:flex;

  }
  .nav ul.blog-cat-menu {padding-top:0;}
  .nav ul.blog-cat-menu li a.sub-menu {padding: 8px 4px;} 

  .nav ul.blog-cat-menu a {
    font-family: Gotham-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #222222;
    z-index: 0 !important;
  }
  .blog-title-wrapper .nav {
    text-align:center;
  }
  .blog-title-wrapper .nav ul.blog-cat-menu li{  
    padding: 0px 20px;
  }
  .blog-title-wrapper .nav ul.blog-cat-menu li:hover a.sub-menu {
    color: #222222;
  }
  .blog-title-wrapper .icon-search.right {
    font-size: 23px !important;
  }
  .menu ul a, .menu li:hover>ul a, .header .nav ul.menu ul li a {
    padding: 8px 0 8px 15px;
    background: none;
    text-align: left;
    color: #f9dbd0;
    line-height: 16px;
  }  

  .blog-title-wrapper .nav ul.menu ul {
    background-color: #000;
  }  

  .blog-title-wrapper .nav ul.menu ul li a {
    text-align: left;
    padding: 10px 4px;
    font-family: Gotham-book;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform:none;
  }
  .margin-0 {margin: 0 !important;}
  .l-margin-0 {margin-left:0 !important;}
  .r-margin-0 {margin-right:0 !important;}
  .border {border:solid 1px #000000 !important;}
  .container.clearfix {padding:0;}
  .container .sixteen.columns {max-width:1180px;}


  ul ul {list-style: circle !important;}

  .f-left {display:block;min-height:512px;}
  .f-left p:first-child {float:left;width:48%;margin-right:32px;}
  .f-left img {vertical-align: top;height:512px; object-fit:cover;}  
  .f-right {display:block;min-height:512px;}
  .f-right p:first-child {float:right;width:48%;margin-left:32px;}
  .f-right img {vertical-align: top;height:512px; object-fit:cover;}  
  .f-2left {display:block;min-height:512px;}
  .f-2left p {float:left;width:48%;margin-right:32px;}
  .f-2left p:last-child {margin-right:0px;}
  .f-2left img {vertical-align: top;height:512px; object-fit:cover;}  

  .csb {
    padding: 100px 80px;
    text-align: center;
    margin:32px 0;
    border: 1px solid #000000;
    box-sizing: border-box;    
  }

  .csb.blush-pink {background:linear-gradient(0deg, #f9dbd0, #f9dbd0);border:0;}
  .csb.nude-1 {background:linear-gradient(0deg, #EED6BC, #EED6BC);border:0;}
  .csb.nude-2 {background:linear-gradient(0deg, #d6ad8d, #d6ad8d);border:0;}
  .csb.nude-3 {background:linear-gradient(0deg, #eec1a0, #eec1a0);border:0;}
  .csb.smooth-grey {background:linear-gradient(0deg, #c8c7c5, #c8c7c5);border:0;}
  .csb.black {background:linear-gradient(0deg, #000000, #000000);border:0;}

  .csb p {
    /*font-family: Gotham-Book !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 28px !important;
    line-height: 40px !important;*/
    color: #222222;
    margin:auto;
  }  
  .typeform-widget {display:block !important;height:100vh !important;}
  .global-wrapper  {padding-top:110px;}

  #st-2 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;;
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    backface-visibility: hidden;
    display: block;
    position: fixed;
    opacity: 1;
    text-align: left;
    top: 205px;
    z-index: 94034;
  }
  #st-2.st-left {
    left: 0px;
  }
  #st-2.st-hidden.st-left {
    left: -48px;
  }
  #st-2.st-hidden {
    width: 96px;
  }
  #st-2 > div {
    clear: left;
    float: left;
  }
  #st-2 .st-btn > svg {
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    margin-left: 0;
    vertical-align: middle;
    margin-bottom:0;
    /*height: 24px;
    width: 24px;*/
  }
  #st-2 .st-btn > img {
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    height: 24px;
    margin-left: 0;
    vertical-align: top;
    width: 24px;
  }
  #st-2 .st-btn > span {
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    color: #222222;
    display: inline-block;
    font-weight: 500;
    left: -35px;
    letter-spacing: 0.5px;
    opacity: 0;
    padding: 0 6px;
    position: relative;
    vertical-align: top;
    filter: alpha(opacity=0);
  }
  #st-2 .st-btn.st-hide-label > span {
    display: none !important;
  }
  #st-2 .st-total {
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    background: #fff;
    color: #555;
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    margin-right: 0;
    min-height: 34px;
    max-width: 80px;
    opacity: 1;
    padding: 4px 0;
    text-align: center;
    width: 48px;
  }
  #st-2 .st-total.st-hidden {
    display: none;
  }
  #st-2 .st-total > span {
    display: block;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
  }
  #st-2 .st-total > span.st-shares {
    font-size: 11px;
    line-height: 11px;
  }
  #st-2 .st-toggle {
    left: -48px;
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    background: #ccc;
    border-bottom-right-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    width: 48px;
  }
  #st-2.st-hidden .st-toggle {
    border-top-right-radius: 4px;
  }
  #st-2.st-left .st-toggle .st-left {
    display: inline-block;
  }
  #st-2.st-left.st-hidden .st-toggle .st-left {
    display: none;
  }
  #st-2.st-left .st-toggle .st-right {
    display: none;
  }
  #st-2.st-left.st-hidden .st-toggle .st-right {
    display: inline-block;
  }#st-2:hover .st-toggle {
    left: 0;
  }
  #st-2.st-hidden:hover .st-toggle {
    left: 48px;
  }
  #st-2.st-toggleable:hover .st-btn.st-last {
    border-bottom-right-radius: 0;
  }
  #st-2.st-toggleable:hover .st-btn.st-last:hover {
    border-bottom-right-radius: 4px;
  }
  #st-2 .st-btn:hover {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  #st-2.st-has-labels .st-btn:hover {
    width: 120px;
  }
  #st-2:not(.st-has-labels) .st-btn:hover {
    width: 62px;
  }
  #st-2 .st-btn.st-hide-label:hover {
    width: 62px;
  }
  #st-2 .st-btn:hover > svg {
    margin-left: 5px;
  }
  #st-2 .st-btn:hover > img {
    margin-left: 5px;
  }
  #st-2 .st-btn:hover > span {
    opacity: 1;
    display: inline-block;
    left: 0;
    filter: alpha(opacity=100);
  }
  @media (max-width: 1024px) {
    #st-2 .st-btn:hover > svg {
      margin-left: 0;
    }
    #st-2 .st-btn:hover > span {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    #st-2 {
      bottom: 0;
      display: flex;
      left: 0;
      right: 0;
      top: auto;
      width: 100%;
    }
    #st-2.st-hidden {
      bottom: -48px;
      width: 100%;
    }
    #st-2.st-hidden.st-left {
      left: 0;
    }
    #st-2.st-hidden.st-right {
      right: 0;
    }
    #st-2 > div {
      -moz-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      clear: none;
      flex: 1;
      float: none;
    }
    #st-2 .st-total {
      background: #fff;
      padding: 6px 8px;
    }
    #st-2 .st-btn {
      -moz-border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
      text-align: center;
      width: auto;
    }
    #st-2 .st-btn > span {
      display: none;
    }
    #st-2 .st-toggle {
      display: none;
    }
    body { padding-bottom: 48px; }
  }

  #st-2 .st-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: NaNpx;
    height: 48px;
    line-height: 24px;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-align: left;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 48px;
  }
  #st-2 .st-btn {
    background: #ffffff;
    border: 1px solid #222222;
    box-sizing: border-box;  
    width:40px;
    height:40px;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    font-weight: bold;
    color: #222222;
    margin: 8px 0 0 8px;
  }
  #st-2 .st-btn::hover, #st-2 .st-btn::focus {
    text-decoration: underline;
    background-color: #fff;
  }
  .container {width:1180px;}

  #slide-article {
    max-width: 1180px;
    margin: auto;    
  }
  .title-wrapper {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom: 40px;
  }
  .title-wrapper .column.alpha, .title-wrapper .columns.alpha {
    margin-right:6px;
    height: 64px;
    vertical-align: middle;
  }
  .title-wrapper .column.omega, .title-wrapper .columns.omega {
    padding-top:10px;
    margin-left:0px;
    height: 48px;
  }

  .author-social {padding-left:20px;}

  .eleven.columns.article a,.eleven.columns.article a:visited {color: #000000 !important;text-decoration: underline;}
  .eleven.columns.article a:hover {color: #000000 !important;text-decoration: none;}

  .eleven.columns.article{
    /*border-top: solid 1px #000000;
    padding-top: 40px;*/
  }

  /*  .article-template-section h1 {
  font-family: FreightDispProBook-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 67px;
  color: #222222;
  text-transform:none;
  letter-spacing:normal;
  }*/

  .eleven.columns.article h1,.eleven.columns.article h2, .eleven.columns.article h3, .eleven.columns.article h5 a {
    font-family: FreightDispProSemibold-Regular !important;;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #222222;
    text-transform:none;
    margin:24px 0;
    letter-spacing:normal;
  }  
  h1.headline {text-shadow: none !important;text-align:left;text-transform:none;letter-spacing:normal!important;}
  .eleven.columns.article h1.headline {
    text-align:left;
    margin-bottom:0;
    font-family: FreightDispProBook-Regular !important;;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 67px;
    color: #222222;
    text-transform:none;
    letter-spacing:normal;
  }

  .eleven.columns.article h2 strong,.eleven.columns.article h2 b {
    font-weight: normal !important;
  }

  .blog-popular-wrapper {
    padding: 64px 0;
    margin-left:0;
  }

  .blog-popular {
    background: #FFFFFF;
    border: 2px solid #F9DBD0;
    box-sizing: border-box;  
    position: relative;
    padding: 64px 48px;
    float: left;
  }

  .blog-popular h2 {
    font-family: FreightDispProBold-Regular !important;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: normal;
    color: #F9DBD0;
    text-transform: none;
    background: #fff;
    position:absolute;
    top:-33px;
    left:33%;
    padding: 0 40px;
  }

  .blog-popular h4 {
    font-family: Gotham-bold !important;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F9DBD0;
    letter-spacing: normal;
  }  

  .blog-popular a {
    color: #222222 !important;
    text-decoration: none;    
  }
  .blog-popular h5 {
    font-family: FreightDispProBook-Regular !important;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
    letter-spacing: normal;
    text-transform: capitalize;
    padding: 0 0 0 24px;
  }

  .blog-popular-list {
    column-count: 2;
    column-gap: 0;
    margin: 0;
    height: min-content;
    display: inline-block;
  }
  .blog-popular-list li {
    display: inline-block;
    margin-bottom:40px;
    padding-bottom:0;
  }
  .blog-popular-list li:nth-child(3n) {
    margin-bottom:0;
  }
  .blog-popular-list .category {
    padding:0 12px 12px 24px;
    display: inline;
    vertical-align: top;
  }
  .blog-popular-list .displaydate {
    padding: 0 0 12px 12px;
    display: inline;
    vertical-align: top;
  }
  .blog-popular-list .divider {
    vertical-align: text-top;
  } 
  .blog-popular-list li img {
    height: 100%;
    object-fit: cover;
    display: flex;
  }  
  .category {
    font-family: Gotham-book !important;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #555555 !important;
    padding: 32px 12px 0 32px;
    display:inline-block;
    letter-spacing: normal;
  }
  .divider {
    width: 16px;
    height: 2px;
    line-height: 16px;
    background: #F9DBD0;
    padding: 0;
    display:inline-block;
    vertical-align:middle;
  }  
  .displaydate {
    font-family: Gotham-book !important;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #C4C4C4 !important;
    padding: 32px 32px 0 12px;
    display:inline-block;
    letter-spacing: normal;
  }  

  .excerpt p {
    font-family: Gotham-book !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #777777 !important;
    letter-spacing: normal;
    padding: 16px 32px;
  }

  a.read_more {
    padding: 0px 32px;
    display:block;
  }  
  a.read_more span {
    font-family: Gotham-bold !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #222222 !important;    
    border-bottom: solid 2px #F9DBD0;
    text-align: left;
  }  

  .blog-home-category-wrapper .blog-home-category-title {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 64px 0 24px;
  } 
  .blog-home-category-wrapper .blog-home-category-title h2 {
    font-family: FreightDispProBold-Regular !important;
    font-style: normal;
    font-weight: bold;
    font-size: 0px;
    line-height: 45px;
    text-transform: none;
    letter-spacing: normal;
    color: #222222;
    align-self: center;
  }
  .blog-home-category-wrapper .blog-home-category-title h2:after {
    content:'Related Articles';
    font-size: 40px;
  }
  .blog-home-category-wrapper .blog-home-category-title .divider {
    background: url(https://cdn.shopify.com/s/files/1/1212/4268/files/dotted.png?v=1596772074);
    flex-grow: 1;
    height: 16px;
    align-self: center;
    display: flex;
    margin-left: 0 16px;
    background-repeat: repeat-x;

  }  
  .blog-home-category-wrapper .blog-home-category-title .viewall {
    display:none;
  }

  .blog-home-category-wrapper .blog-home-category {height:auto;margin-bottom:38px;}
  .blog-home-category-wrapper .blog-home-category li {display:inline-block;position:relative;margin-bottom:0;margin-right: 32px;}
  .blog-home-category-wrapper .blog-home-category li:last-child {margin-right: 0;}
  .blog-home-category-wrapper .blog-home-category .slide {width:370px !important;padding-bottom:32px;}
  .blog-home-category-wrapper .blog-home-category img {
    height: 248px !important;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    object-fit: cover;
  }
  .slide .sub_title {
    padding: 16px 32px 0;
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #222222;  
    text-transform:capitalize;
    letter-spacing:normal;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
  }



  .eleven.columns.article .p1, .eleven.columns.article p,
  .eleven.columns.article div > span,
  .eleven.columns.article li,
  .eleven.columns.article li > span {
    font-family: Georgia !important;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;    
    letter-spacing:normal;
  }
  .caption {
    font-family: Georgia !important;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #555555; 
    text-align:left;
    letter-spacing:normal;
  }
  .comment-body.author, .comment-body h6 {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform:Capitalize;
    letter-spacing:normal;
  }

  .comment-body h6 {
    font-weight: bold;
  }

  .promo_banner p {
    font-family: Montserrat !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-size: 12px !important;
  }
  .gravatar img {width:64px; height:64px;padding-bottom: 0;margin-bottom: 0;}

  .sidebar {position: sticky;top: 150px;height: calc(100vh + 2000px);}
  .sidebar_content {border:none;padding:0;}

  .sidebar .recent_articles li {
    width: 100%;
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sidebar .recent_articles img {
    object-fit: cover;
    float:left;
    padding-right:20px;
    width:54px;
    height:54px;
  }
  .sidebar .recent_articles a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    letter-spacing:normal;
  }  

  .sidebar-block.newsletter {
    background: #f9dbd0 url({{ 'blog-signup-bg.png' | file_url }}) no-repeat;  
    background-size: auto;
    padding: 180px 40px 20px;
    height: auto;
  }

  .sidebar-block.newsletter h4 {
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    letter-spacing:normal;
  }

  .sidebar-block.newsletter p {
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #222222;
    letter-spacing:normal;
  }  

  .sidebar-block.newsletter .action_button.sign_up {
    font-family: Gotham-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    letter-spacing:normal;
  }

  img.crop-right {
    object-fit: cover;
    width: 368px;
    height: 512px;
    float: right;
    margin-left:20px;
  }

  img.crop-left {
    object-fit: cover;
    width: 368px;
    height: 512px;
    float: left;
    margin-right:20px;
  }

  .st-sticky-share-buttons.bottom {
    max-width: 100vw !important;
    position: relative !important;
    margin: 17px 0 40px !important;
    text-align: left !important;
    z-index: 0 !important;
    display: flex !important;
    flex-direction: row;
    top: 0 !important;  
  }
  .st-sticky-share-buttons.bottom  .st-btn {
    width:132px !important;
    height:40px !important;
    padding:  0 !important;
    margin: 8px 26px 0 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }    
  .st-sticky-share-buttons.bottom  .st-btn:last-child {margin-right:0 !important;}


  .additional {margin-left: 0;width:100% !important;margin-bottom:80px;}
  .additional h3 {
    margin:40px 0;
    font-family: Gotham-Bold !important;
    font-style: normal;
    font-weight: bold;
    font-size:22px;
  }
  .additional .article h5.sub_title {
    background-color:#000000;
    padding:20px;
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: Capitalize;
    letter-spacing:normal;
  }

  .additional .article img, .additional .article svg {margin-bottom:0;height:186px !important;object-fit:cover;object-position:top;}

  .additional .three.columns {margin:0 32px 0 0;width:235px;}
  .additional .three.columns:last-child {margin-right:0;}

  .author_bio {
    border: solid 1px #000000; 
    padding:45px;
    margin: 0;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #222222;  
    max-width: 92% !important;
    letter-spacing:normal;
  }
  .author_bio .section.clearfix {
    position: relative;
    float: left;
    margin: 0;
    display: flex;
    align-items: center;  
  }

  .author_bio h6 {line-height:48px;text-transform:Capitalize;font-size: 18px;}
  .author_bio .author span {font-weight:normal;font-size: 18px;text-transform:none;display:block;}
  .author_bio .gravatar img {width:100px; height:100px;border-radius:50%}
  .author-social:not:first-child {padding-left:20px;}
  .author-social img {vertical-align: text-top;margin-bottom: 0;}

  .section.clearfix {margin:0;}

  .pinterest-overlay {
    position: absolute;
    bottom: 5%;
    right: 20px;
    width: 40px;
    height: 40px;
    border: solid 1px #222222;
    text-align: center;
    vertical-align:middle;
    z-index: 99;
    background-color: transparent;
  }
  .pinterest-overlay a {line-height:46px;}
  .pinterest-overlay a svg {margin-bottom:0;}
  .article {padding-bottom:0;}
  .sidebar-block {border-bottom:none;}
  .article img, .article svg {margin-bottom:0;}
  .eleven.columns.article a, .eleven.columns.article.article a:hover, .eleven.columns.article.article a:visited,
  .eleven.columns.article a  span, .eleven.columns.article.article a:hover  span, .eleven.columns.article.article a:visited  span {
    color: #e06666 !important;
    font-weight:bold !important;
    text-decoration: none !important;
  }

  /*-- Bottom Newsletter --*/
  .footer {margin-top: 0;}
  .footer-newsletter {
    width:100%;
    display:flex;
    background: linear-gradient(164.7deg, rgba(248, 220, 209, 0.7) 0%, rgba(248, 220, 209, 0) 100%);
    padding:70px 0 !important;
    margin-top:80px !important;
  }
  .footer-newsletter .sixteen.columns {width:100vw;max-width:100vw;}
  .footer-newsletter div.description p {    
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
    line-height: 50px;
    color: #222222;
    display:block;
    width: 80%;
    margin: 0 auto;
  }

  .footer-newsletter .eleven.columns {
    width:60vw;
  }
  .footer-newsletter .newsletter-wrapper {
    display:flex;
    height:100%;
    flex-direction:column;
    width:30vw;
  }
  .footer-newsletter div.disclaimer {
    font-family: Gotham-Book;
    font-style: normal;
    font-weight: lighter;
    font-size: 10px;
    line-height: 16px;
    color: #555555;
    display:block;
    width:100%;
    padding-top:10px;
  }
  .footer-newsletter .newsletter {
    display: block;
    width:100%;
  }
  .footer-newsletter .newsletter * {
    width:100% !important;
    max-width:100% !important;
  }
  .footer-newsletter input {
    margin-left:0 !important;
  }
  .footer-newsletter .action_button.sign_up {
    background: #000000;
    color: #ffffff;
  }
  .footer-newsletter .action_button.sign_up:hover {
    color: #000000;
  }
  /*-- End Newsletter --*/
  .price_block h3 {display:none;}


  .related_products {
    display: block;
  }
  .related_products_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
  }
  .related_products_title {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 64px 0 24px;
  } 
  .related_products_title h2 {
    font-family: FreightDispProBold-Regular !important;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    text-transform: none;
    letter-spacing: normal;
    color: #222222;
    align-self: center;
  }
  .related_products_title .divider {
    background: url(https://cdn.shopify.com/s/files/1/1212/4268/files/dotted.png?v=1596772074);
    flex-grow: 1;
    height: 16px;
    align-self: center;
    display: flex;
    margin-left: 16px;
    background-repeat: repeat-x;
  }  
  .related_products_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding-right: 32px;
    //max-width: 268px;
  }
  .related_products_item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
    object-fit: cover;
    cursor: pointer;
    min-width: 268px !important;
    display: flex;    
  }
  .related_products_item h1{
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #222222;
    letter-spacing: normal;
    text-transform: none !important;
    margin: 0;
    padding: 0;
    min-height:40px;
    vertical-align:top;
  }
  .spr-icon {
    color: #FFBC32 !important;
  }

  .price_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .price_block h1{
    font-family: Gotham-Bold !important;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0 20px 0 0;
    padding: 0 !important;
  }
  .price_block h3{
    font-family: Gotham-Book !important;
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
    color: #c4c4c4;
    text-decoration: line-through;
    letter-spacing: normal;
    margin: 0 !important;
    padding: 0 !important;
  }
  .related_products_item a{
    width:100%;
  }
  button.action_button.add_to_cart{
    display: flex;
    justify-content: center;
    font-family: Gotham-Bold;
    font-size: 14px !important;
    line-height:17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 92px !important;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  form {
    margin-bottom: 0px;
  }  

  /*Sticky*/
  #shopify-section-article-template.sticky .blog-title-wrapper {float: none;}
  #shopify-section-article-template.sticky #slide-blog {
    z-index: 99;
    top: 111px;
    width: 100%;
    background: #fff;
    position: fixed;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
  }  


  @media screen and (max-width: 768px){
    .related_products_wrapper{
      flex-direction: column;
      align-items: normal;
      width: 90%;
      flex-direction: row;
      width:100%;
      flex-wrap:wrap;
    }    
    .related_products_item{
      width: 65%;
      margin-bottom: 50px;
      width:auto;
      max-width: none !important;
      flex-basis: calc(100% / 2);
      padding-right: 0;
    }
    .related_products_item img {
      min-width: auto !important;
    }
    .price_block {
      margin-bottom: 12px;
      margin-left: 0;
      margin-right: 0;
    }
    .related_products {
      padding-bottom:0;
    }
    .action_button.add_to_cart{
      margin: 0 auto !important;
    }
  }
  @media screen and (max-width: 500px){
    button.action_button.add_to_cart {
      padding:0 20px !important;
    }
  }
  @media screen and (max-width: 450px){
    .related_products_item{
      flex-basis: calc(100% / 2.1);
      width:calc(100% / 2);
      max-width:calc(100% / 2);
    }
    .related_products_wrapper {
      width: 90%;
      width:100%;
    }

  }
  .image-wrapper {overflow:hidden;}
  .featured-image--true+.breadcrumb+div.content {padding-top:0px !important;}
  .breadcrumb {margin:32px 20px 24px 20px; text-align:left;}

  .breadcrumb a {
    font-family: Gotham-book;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #222222;
  }

  .breadcrumb a:hover {text-decoration:underline;}  
  @media only screen and (min-width: 768px) {
    .feature_link:hover .feature_headline .headline {border-bottom: solid 1px #000;}
    .feature_link:hover .feature_image {
      overflow:hidden;
    }
    .feature_link:hover .feature_image img {
      transform: scale(1.2);
    }
    .feature_link:hover #shim path {
      fill:#F9DBD0;
    }
    .blog-slider .slide:hover {
      overflow:hidden;
    }
    .blog-slider .slide:hover img {
      transform: scale(1.2);
    }
    .large-article:hover img {
      transform: scale(1.2);
    }
    .blog-home-category li:hover img {
      transform: scale(1.2);
    }
    .blog-home-category li:hover .sub_title {text-decoration:underline;}
  }

  @media only screen and (min-width: 981px) and (max-width: 1200px) {
    #footer-bottom .bottom-right-part {-webkit-box-flex: 1;-ms-flex: 1 1 100%;flex:1 1 100%;}    
  }


  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .sidebar-block.newsletter p {font-size:34px;}
    #st-2 {width:98%;}
    .sidebar {height: calc(100vh + 1062px);}    
    .additional .article h5.sub_title {font-size:20px;}
  }

  @media only screen and (max-width: 767px) {
    .breadcrumb {margin:20px 0px 0 25px!important;text-align:left;max-width:90% !important;}
    .blog-home-category-wrapper .blog-home-category .slide {padding-bottom:0;}

    #st-2 {max-width:100vw;position:relative;position: relative;margin-bottom: 32px;text-align:left;z-index:0;}
    #st-2 .st-btn {
      width:56px;
      height:56px;
      padding: 12px 20px;
      margin: 8px 8px 0 0;
    }    
    #st-2 .st-btn:last-child {margin-right:0;}
    .container {width: 100vw;}
    .columns {width:100% !important;margin-top:20px !important;}
    .sixteen.columns {margin: 0 20px !important;width: 90% !important;display:block;}
    .desktop {display: none !important;}
    .mobile {display: block !important;}
    .top38 {margin-top: 0 !important;}
    .bottom-margin {margin-bottom:80px !important;}
    .article-template-section h1 {font-size: 40px;line-height: 50px;font-size:20px;}
    .promo_banner, #header.mobile-header {width:100vw;}
    .promo_banner--active .global-wrapper {margin-top:75px;padding-top:0;}
    .pinterest-overlay {display:none;}
    .title-wrapper .eleven.columns {border-bottom:solid 1px #000000;padding-bottom: 24px;}
    .eleven.columns.article{border-top: none;padding-top: 0px;margin-top:16px !important;}
    .title-wrapper .column.alpha, .title-wrapper .columns.alpha {
      margin-right:0px;
      height: 64px;
      vertical-align: middle;
      text-align:left;
      width:64px !important;
    }
    .title-wrapper .column.omega, .title-wrapper .columns.omega {
      padding-top:10px;
      margin-left:0px;
      height: 48px;
      text-align:left;
    }
    .title-wrapper .comment-body.author {
      width: 50% !important;
      padding-top: 0 !important;
      margin-top: 0px !important;
    }
    .gravatar img {width:48px; height:48px;padding-bottom: 0;margin-bottom: 0;}
    .comment-body.author, .comment-body h6 {font-size:14px;}
    .eleven.columns.article, .sidebar {
      margin: 0 20px;
      width: 90vw !important;
    }
    .sidebar {display:none !important;}

    .sidebar {padding: 0 20px;}
    .sidebar-block.newsletter {
      margin-left:0;
      margin-bottom:0 !important;
      width: auto !important;
    }
    .sixteen.columns.author_bio {padding:32px;margin-top:0 !important;}
    .author_bio .section.clearfix {margin:0;display: block !important;}
    .author_bio .comment-body {margin:0 !important;}
    .author_bio .gravatar {width: 100% !important;}
    .author_bio .gravatar img {width:100px;height:100px;border-radius: 60px;}
    .author_bio .author {margin-top:6px !important;}
    .author_bio .author span {display: block;line-height: normal;}
    .author_bio .author h6 > a {display: inline-block;line-height:normal;margin:0 !important;padding:0 !important;}
    .author_bio .author h6 > a:first-of-type {display: block;line-height: normal;margin:16px 0 !important;}
    .author-social img { vertical-align: super;}
    .author-social:first-child {padding-left:0 !important; }
    .additional h3 {margin-bottom:20px;}
    .csb {padding: 15px !important;}
    .footer-newsletter {padding:40px 20px !important;width:90% !important;margin-top:40px!important;}
    .footer-newsletter div, .footer-newsletter span {width:98% !important;}
    .footer-newsletter .newsletter, .footer-newsletter .disclaimer {margin:0 auto;}
    .footer-newsletter .offset-by-three {padding-left:0 !important;}
    .footer-newsletter div.description p {font-size:24px;line-height:30px;width:100%;margin-bottom:24px;}
    .footer-newsletter .newsletter {width:100% !important;}

    .f-left {display:block;min-height:auto;}
    .f-left p:first-child {float:none;width:100%;margin-right:0px;}
    .f-left img {vertical-align: top;width:100%;height:auto; object-fit:cover;}  
    .f-right {display:block;min-height:auto;}
    .f-right p:first-child {float:none;width:100%;margin-left:0px;}
    .f-right img {vertical-align: top;width:100%;height:auto; object-fit:cover;}      
    .f-2left {display:block;min-height:auto;}
    .f-2left p {float:none;width:100%;margin-right:0px;}
    .f-2left p:last-child {margin-right:0px;}
    .f-2left img {vertical-align: top;width:100%;height:auto; object-fit:cover;}  

    .article-template-section .blog-home-category-wrapper .blog-home-category .title_wrapper, 
    .sixteen.columns.blog-slider-wrapper .title_wrapper, .large-article .title-wrapper {margin: 24px;}

    .article-template-section .blog-home-category-wrapper .blog-home-category .one-third.column { width: calc(33% - 23px);}
    .article-template-section .blog-home-category-wrapper .blog-home-category li .image-wrapper img {height:226px;object-fit:cover;}
    .article-template-section .blog-home-category-wrapper .blog-home-category .title_wrapper, 
    .article-template-section   .displaydate {padding-top:0;}
    .article-template-section .blog-popular-list {column-count:1;}
    .article-template-section .blog-popular-list  .one.column {display:none;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title {padding: 21px 0 0;width:100%;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title h2, 
    .large-article .sub_title, .slide .sub_title, .related_products_title h2 {font-size:32px;line-height:40px;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title h2, 
    .related_products_title h2 {white-space:nowrap;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title h2 {font-size: 0px;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title h2:after {font-size: 32px;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title .divider, .related_products_title .divider {margin:0 10px;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title .viewall {font-size:12px;padding-right:0;}
    .article-template-section .blog-home-category-wrapper .blog-home-category-title .viewall a {white-space: nowrap;}
    .article-template-section .blog-home-category-wrapper .blog-home-category .slide {width:100% !important;}
    .blog-slider li {padding:0;}
    .article-template-section .blog-home-category-wrapper .blog-home-category li {margin-right: 0;margin-bottom:20px;}
    .article-template-section .blog-home-category-wrapper .blog-home-category li .five.columns.margin-0.slide.border {padding-top:0; margin-top:0 !important;}
    .article-template-section .category , .article-template-section .sub_title,
    .article-template-section .excerpt p, .article-template-section a.read_more {padding: 12px 0 0 !important;margin-bottom:0 !important;}
    .article-template-section .category {padding-top:0 !important;padding-right:12px !important;}
    .large-article {margin-top:0;}
    .large-article .title_wrapper {margin: 24px !important;text-align:left;}
    .large-article h5.sub_title {padding-top:24px !important;}
    .article-template-section .blog-popular-wrapper {padding-bottom:0;padding-top:24px;}
    .article-template-section .blog-popular {padding:32px;width:100%;}
    .article-template-section .blog-popular .column, .article-template-section .blog-popular .columns {margin-top:0 !important;}
    .article-template-section .blog-popular .four.columns {margin-top:24px !important;}
    .article-template-section .blog-popular .two.columns {margin-top:16px !important;}
    .article-template-section .blog-popular-list li {margin-bottom:32px !important;}
    .article-template-section .blog-popular-list li:last-child {margin-bottom:0px !important;}
    .article-template-section .blog-popular h2 {
      font-size: 40px;
      line-height: 51px;
      left: auto;
      white-space: nowrap;
      padding: 0px 20px;
    }
    .article-template-section .blog-popular li:not(:first-child):after {
      content: '';
      background-color:#F9DBD0;
      height:2px;
      width: 100%;
      display: block;   
      position:absolute;
      left:0;
      margin-top:-16px;
    }

    iframe {max-width: 100%;}
    .title-wrapper .eleven.columns {border:none;}
    .title-wrapper .eleven.columns h1 {text-align:left;font-size:40px; line-height:50px;margin-bottom:0;}
    .blog-home-category-title {padding-top:0;}
    .product_form {margin-top: 0px !important;}
    .action_button.add_to_cart span.text {padding: 10px 0;}
    .related_products_item h1 {min-height:1px;margin-bottom:0;}
    .price_block {display:block;}
    .article-template-section h1 {font-size:20px;line-height:25px;padding: 0 5px;}
    .price_block h1 {
      font-family: Gotham-bold;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      margin-right: 0;
    }

    #shopify-section-article-template.sticky {padding-top: 0px !important;}
    #shopify-section-article-template.sticky .blog-header.mobile {display: none !important;}
    #shopify-section-article-template.sticky .sixteen.columns.blog-slider-wrapper {padding-top:52px;}
    #shopify-section-article-template.sticky .mobile-categories {
      position: fixed;
      top: auto;
      width: 100vw;
      z-index: 99;
      margin: 0;
      padding-top:0 !important;
      left:0;
    }


  }



</style> 


<script>
  (function() {
    var nTimer = setInterval(function() {
      if (window.jQuery) {
        var jQuery = window.jQuery;
        var height = 0;
        jQuery(".additional .article h5.sub_title").each(function() {
          if(jQuery(this).height() > height){
            height = jQuery(this).height();
          }
        });
        jQuery(".additional .article h5.sub_title").css("min-height",height);
        jQuery(".feature_headline .author h6").on("click",function(e) {
          e.preventDefault();
          var href = jQuery(this).data("url");
          location.href = href;
        });
        jQuery(".categories").on("click",function(e) {
          e.preventDefault();
          jQuery(".blog-cat-menu").toggle("slow");
        });

        clearInterval(nTimer);
      }
    }, 200);
  })();


</script>

