<div class="content">
  <section class="skincare-section">
    <div class="row mb-0 no-gutters">
      <div class="col-lg-6 skincare-t">
        <div class="skincare-text">
          <span>{{section.settings.subtitle}}</span>
          <h2>{{section.settings.title}}</h2>
          <p>{{section.settings.desc}}</p>
          <div class="skin-btn">
            <a href="{{section.settings.link}}" class="primary-btn dark-skin">take the quiz {{ 'new-arrow-right.png' | asset_url | img_tag }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="skincare-img">
          <img class="lazyload" data-src="{{section.settings.image | img_url: ''}}" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
{% schema %}
{
"name": "Help",
"settings": [
{
"type":"text",
"id":"subtitle",
"label":"Sub Title"
},
{
"type":"text",
"id":"title",
"label":"Title"
},
{
"type":"text",
"id":"desc",
"label":"Details"
},
{
"type":"url",
"id":"link",
"label":"Button Link"
},
{
"type":"image_picker",
"id":"image",
"label":"Banner"
}
],
"presets":[
{
"name":"Help",
"category":"Text"
}
]
}
{% endschema %}


