<div class="best_sell_headline">
	<h1>{{ section.settings.title }}</h1>
</div>
<div class="best_sellers_block">
	<div class="best_sellers_position">
    {%- for block in section.blocks -%}
      	{%- assign product = all_products[block.settings.featured] -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      	{%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        
   		<div class="best_seller_item">
          <a href="{{ product.url }}" >
            <img data-src="{{ featured_image | img_url: '600x' }}"
                                           alt="{{ featured_image.alt }}"
                                           class="lazyload"
                                           data-sizes="auto"
                                           data-srcset=" {{ featured_image | img_url: '2048x' }} 2048w,
            {{ featured_image | img_url: '1600x' }} 1600w,
            {{ featured_image | img_url: '1200x' }} 1200w,
            {{ featured_image | img_url: '1000x' }} 1000w,
            {{ featured_image | img_url: '800x' }} 800w,
            {{ featured_image | img_url: '600x' }} 600w,
            {{ featured_image | img_url: '400x' }} 400w"
                                           />
          </a>
          
            <h1>{{ product.title }}</h1>
			<span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>          
            <div class="price_block">
            	<h1>{{ variant.price | money }}</h1>
            	<h3>{{ variant.compare_at_price | money }}</h3>
            </div>
            {%-comment-%}<a href="{{ product.url }}">View Details</a>{%-endcomment-%}
            <form action="/cart/add" method="post"
              class="clearfix product_form init {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
              id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
              data-money-format="{{ shop.money_format }}"
              data-shop-currency="{{ shop.currency }}"
              data-product="{{ product | json | escape }}"
              data-product-id="{{ product.id }}">
              {% assign variant = product.selected_or_first_available_variant %}
              <input type="hidden" name="id" value="{{ variant.id }}" />
              {% capture add_to_cart_label %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}
              <button type="submit" onclick="dataLayer.push({'event': 'addToCart','productPrice': '{{ variant.price | money_without_currency }}','productID': '{{ variant.id }}','productCategory': 'SkinCare'});" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
            </form>
        </div>
    {%- endfor -%}
	</div>
</div>
{% schema %}
  {
    "name": "Best Sellers",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our Bestsellers"
      }
    ],
    "blocks": [
      {
        "type": "product_block",
        "name": "Products",
        "settings": [
          {
            "type": "product",
            "id": "featured",
            "label": "Featured Product"
          }
        ]
      }
	],
	"presets": [
      {
	    "category": "Home content",
        "name": "Best Sellers"
      }
	]
  }
{% endschema %}

<style>
.spr-icon {
    color: #FFBC32 !important;
}
.best_sell_headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.best_sell_headline h1{
    font-family: FreightDispProBook-Regular;
    font-size: 60px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 80px 0 48px 0;
	text-transform:none !important; 
}
.best_sellers_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
	padding-bottom: 80px;
    background: linear-gradient(to top, #f4f4f4 0%, #f4f4f4 75%, #fff 75%);
    background-position: bottom center;
    background-repeat: no-repeat;
}
.best_sellers_position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
	align-items: stretch;
}
.best_seller_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    justify-content: space-between;
    background-color: #FFF;
}
.best_seller_item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    cursor: pointer;
}
.best_seller_item h1{
    font-family: FreightDispProBook-Regular;
    font-size: 40px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 32px;
    text-align: center;
	text-transform: none !important;
	margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;

}
.price_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
	margin-left: 10%;
    margin-right: 10%;
}
.price_block h1{
    font-family: Gotham-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0 20px 0 0;
	padding: 0 !important;
}
.price_block h3{
    font-family: Gotham-Book;
    font-size: 20px;
    font-weight: 100;
    color: #c4c4c4;
    text-decoration: line-through;
    letter-spacing: normal;
	margin: 0 !important;
	padding: 0 !important;
}
.best_seller_item a{
  width:100%;
}
.action_button.add_to_cart{
    display: flex;
    justify-content: center;
    font-family: Gotham-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 0;
    width: 100%;
    text-align: center;
	margin-bottom: 40px;
}
form {
    margin-bottom: 0px;
}  
@media screen and (max-width: 768px){
  .best_sellers_position{
    flex-direction: column;
    align-items: normal;
    width: 90%;
  }
  .best_seller_item{
    width: 65%;
    margin-bottom: 50px;
  }
  .price_block {
    margin-bottom: 12px;
  }
  .best_sellers_block{
    padding-bottom:0;
  }
  .action_button.add_to_cart{
  	margin: 0 auto !important;
  }
}
@media screen and (max-width: 450px){
	.best_sell_headline h1{
        font-size: 48px;
    }
    .best_seller_item{
        width: 100%;
    }
    .best_sellers_position{
        width: 90%;
    }
}
</style>

{% javascript %}

// SKA attaching links to home page images & titles
jQuery(document).ready(function($) {
  $(".index .best_seller_item > img, .index .best_seller_item > h1").click(function() {
   window.location = $(this).parent().find("a").attr("href");  
     return false;
  });
}); 

{% endjavascript %}
