{% include "snippet-single-product-page" %}
<!--- Added changes --->
<main class="main-content-section">
    <div>
        <div class="forth">
            <div class="container cont_2 ">
                <div class="forth-wrap">
                    <div class="steps-item">
                        <div class="steps-item-image">
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/icon1.svg?5889" alt="">
                        </div>
                        <div class="steps-item-title">
                            <h4>Beauty</h4>
                        </div>
                        <div class="steps-item-text">
                            <p>
                                Reveal the true you and achieve
                                stunning results of nourished skin
                                for healthy complexion.
                            </p>
                        </div>
                    </div>
                    <div class="steps-item">
                        <div class="steps-item-image">
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/icon2.svg?5889" alt="">
                        </div>
                        <div class="steps-item-title">
                            <h4>Confidence</h4>
                        </div>
                        <div class="steps-item-text">
                            <p>
                                Forget hiding behind layers of
                                makeup, achieve the clear, smooth
                                skin you never thought possible!
                            </p>
                        </div>
                    </div>
                    <div class="steps-item">
                        <div class="steps-item-image">
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/icon3.svg?5889" alt="">
                        </div>
                        <div class="steps-item-title">
                            <h4>Glow</h4>
                        </div>
                        <div class="steps-item-text">
                            <p>
                                Achieve radiant skin with
                                nourishing ingredients to help bring
                                skin health to optimal level.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Add code -->
        <div class="third b-video">
            <div class="third-top">
                <div class="container">
                    <div class="third-top-title">
                        <div class="title-video title-video-mobi">Over 40 Natural Plant & Mineral based Ingredients.</div>
                        <h2 class="sub-title-video">Complete Facial Care Kit for Fresh Glowing, Clear Skin</h2>
                    </div>

                    <div class="section-video">
                        <div class="player-video">
                            <video id='media-video-1' poster="https://cdn.shopify.com/s/files/1/1212/4268/files/video.png?5889">
                                <source src="https://sugatan.io/videos/Clarifying_12_09_2019.mp4"
                                        type='video/mp4'>
                            </video>
                            <div id='media-controls'>
                                <div class='play-watch' onclick='togglePlayPause(1);'>Watch</div>
                                <div id='media-video-cntrl-1' class='play' onclick='togglePlayPause(1);'></div>
                                <div class='play-watch' onclick='togglePlayPause(1);'>Video</div>
                            </div>
                        </div>
                        <div class="description-video">
                            <div class="description-title">Here Is How to Use Clear Skin Kit</div>
                            <div class="full-description-video">
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                Cras mattis consectetur purus sit amet fermentum.
                                Etiam porta sem malesuada magna mollis euismod.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.
                                Etiam porta sem malesuada magna mollis euismod.
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                                ut fermentum massa justo sit amet risus.
                                Etiam porta sem malesuada magna mollis euismod.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="third-bottom">
                <div class="container cont_2">
                    <div class="third-bottom-wrap">
                        <div class="third-bottom-title">
                            <div class="title-desc-small-banner">
                                Works on Dry, Oily and
                                Combo Skin Types
                            </div>
                            <div class="desc-small-banner">
                                Helps to heal breakouts, blackheads, and blemishes,
                                even if nothing else has worked before
                            </div>
                            <div class="sub-line"></div>
                        </div>
                        <div class="third-bottom-image">
                            <div class=""
                                 style="background-image: url('{{ section.settings.uploadImagePinkBack | img_url:'900x450' }}');
                                         background-repeat: no-repeat;
                                         width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second">
            <div class="container">
                <div class="second-partners">
                    <div class="partner-item partner-item-f">
                        <h3>As Featured On</h3>
                    </div>

                    <div class="partner-item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/Glamour_Logo.svg?6962"
                             alt="">
                    </div>

                    <div class="partner-item">
                        <a href="https://www.buzzfeed.com/juliegerstein/just-8-really-good-products-that-work-great-for-thirty">
                            <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/BuzzFeed_Logo.svg?6962"
                                 alt="">
                        </a>
                    </div>

                    <div class="partner-item">
                        <img src="https://cdn.shopify.com/s/files/1/1212/4268/files/FoxNews_Logo.svg?6962"
                             alt="">
                    </div>

                    <div class="partner-item">
                        <a href="https://nylon.com/articles/indie-beauty-expo-2017-brands?utm_source=facebook&utm_medium=social&utm_campaign=nylon&fbclid=IwAR2CSCMZ2L-p-qw4WdMDHarfSosHwFE2rPJi-VqF64ERgFxyk7l96uBz908">
                            <img style="width: 133px; height: 26px;"
                                 src="https://cdn.shopify.com/s/files/1/1212/4268/files/nylon-logo.jpg?6828"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add new section -->
        {% if section.settings.imageProductBanner != blank %}
            <div class="seventh b-product-banner"
                 style="background-image: url('{{ section.settings.imageProductBanner | img_url:'master' }}');">
            </div>
        {% endif %}

        <div class="fifth">
            {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
                <div id="shopify-product-reviews"
                     data-id="5450349254"
                     data-id2="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
            {% endif %}
        </div>
        {% if section.settings.videosCustomersTestimonials_1 != blank
           or section.settings.videosCustomersTestimonials_2 != blank
           or section.settings.videosCustomersTestimonials_3 != blank %}
        <div class="b-videos-customers-testimonials">
            <div class="title">
                Customers Testimonials
            </div>
            <div class="container-videos-customers-testimonials">
                {% if section.settings.videosCustomersTestimonials_1 != blank %}
                    <div class="b-video-col">
                        <div class="player-video">
                            <video id='media-video-2' autoplay muted loop playsinline controls>
                                <source src="{{ section.settings.videosCustomersTestimonials_1 }}"
                                        type='video/mp4'>
                            </video>
                            <div id='media-controls'>
                                <div id='media-video-cntrl-2' class='play' onclick='togglePlayPause(2);'></div>
                            </div>
                        </div>
                        <div class="info-customers">{{ section.settings.customerInfo_1 }}</div>
                        <div class="desc-testimonial-video">{{ section.settings.customerDesc_1 }}</div>
                    </div>
                {% endif %}
                {% if section.settings.videosCustomersTestimonials_2 != blank %}
                    <div class="b-video-col">
                        <div class="player-video">
                            <video id='media-video-3' autoplay muted loop playsinline controls>
                                <source src="{{ section.settings.videosCustomersTestimonials_2 }}"
                                        type='video/mp4'>
                            </video>
                            <div id='media-controls'>
                                <div id='media-video-cntrl-3' class='play' onclick='togglePlayPause(3);'></div>
                            </div>
                        </div>
                        <div class="info-customers">{{ section.settings.customerInfo_2 }}</div>
                        <div class="desc-testimonial-video">{{ section.settings.customerDesc_2 }}</div>
                    </div>
                {% endif %}
                {% if section.settings.videosCustomersTestimonials_3 != blank %}
                    <div class="b-video-col">
                        <div class="player-video">
                            <video id='media-video-4' autoplay muted loop playsinline controls>
                                <source src="{{ section.settings.videosCustomersTestimonials_3 }}&html5=True"
                                        type='video/mp4'>
                            </video>
                            <div id='media-controls'>
                                <div id='media-video-cntrl-4' class='play' onclick='togglePlayPause(4);'></div>
                            </div>
                        </div>
                        <div class="info-customers">{{ section.settings.customerInfo_3 }}</div>
                        <div class="desc-testimonial-video">{{ section.settings.customerDesc_3 }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="b-accordeon">
            <div class="accordeon_header_position">
                <div class="accordeon_header">
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
            <div class="accordeon_block_position">
                <div class="accordeon_block">
                    <div class="first_accord">
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">How long will it take to see
                                    results?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Each person's results will be different based on lifestyle habits and
                                        previous
                                        product choices. Some of our users see results in the first night and others
                                        take a few months before they see any improvement. It is based on your
                                        unique
                                        skin and what is going on below the surface of your skin. Some users start
                                        to
                                        clear up immediately and others will breakout first and then clear up.
                                        Unfortunately, this is the nature of a breakout and with the introduction of
                                        the
                                        these products, this is possible. They contain a lot of active ingredients
                                        that
                                        help speed up the healing and detoxing of the skin. Hang in there, they are
                                        working to help your skin.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">How long does each product last?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        1 Clarifying Hydration Dew 45-60 Days (1.5 - 2 months)<br><br>
                                        2 Radient Cleansing Nectar 30-45 Days (1.5 months)<br><br>
                                        3 Clear Skin Elixir 75-90 days (2- 3 months) <br><br>
                                        4 Flawless Nourishment Cream 60-90 Days (2 - 3 months)<br><br>
                                        T Luminous Complexion Toner (2-3 months)<br><br>
                                        S Perfectionist Serum (2-3 months)
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">Will these products dry my skin
                                    out?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Perhaps you have tried dozens of products that have made you tight, dry, and
                                        irritated. Our products are unlike anything you may have tried and will not
                                        dry
                                        you out, make you red, or cause your skin to peel. They contain a lot of
                                        moisturizing extracts and oils that will not clog your pores but help you
                                        achieve a beautiful, glowing complexion.
                                        <br><br>
                                        If you have dry skin and breakouts we recommend the Clear Skin Kit because
                                        each
                                        of the products will heal breakouts but also keep skin balanced and
                                        moisturized.
                                        If you use the Clear Skin Elixir by itself, make sure to not use an overly
                                        drying cleanser.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">What grade of ingredients do you
                                    use?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        We use the highest grade of cosmetic ingredients available to us. We source
                                        organic and wildcrafted ingredients from exotic locations that specialize
                                        and
                                        deliver the most luxurious of ingredients and with the highest amount of
                                        nutrients for that plant from that particular location. Plants can vary in
                                        nutrition where they are pulled, so we source oils and extracts that have
                                        the
                                        highest nutritional value based on the region. We also are meticulous in how
                                        our
                                        ingredients are extracted and avoid ingredients that are chemically
                                        extracted
                                        despite being plant-based.
                                        <br><br>
                                        Plant Oils - never chemically extracted, we use first pressing, cold pressed
                                        fresh plant oils direct from farmers who have a passion for their craft.
                                        <br><br>
                                        Essential Oils - We use steam distilled and the highest quality available
                                        with
                                        the most potent compounds in ideal, safe ratios. Many of our essential oils
                                        are
                                        organic or wildcrafted.
                                        <br><br>
                                        Clays- free from heavy metals, our clays are rich in minerals and free from
                                        harmful substances.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                    </div>
                    <div class="second_accord">
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">Are your products good for
                                    ROSACEA?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Yes, we have had many customers use our products for rosacea because they
                                        contain a lot of extracts that help with redness, swelling, pimples, and
                                        inflammation. The ingredients we use and chose are excellent for sensitive
                                        skin
                                        and are highly nutritious to inflamed skin. The ingredients boost the immune
                                        system in the skin and work to help heal and restore symptoms of rosacea.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">I have cystic acne. Will this work
                                    for
                                    me?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Yes, our products will help cystic acne, but there are a few things we want
                                        you
                                        to be aware of to help you achieve the best skin possible. We recommend the
                                        use
                                        of the Clear Skin Kit over the individual products. They work together to
                                        help
                                        cystic and inflamed acne.
                                        <br><br>
                                        Cystic Acne is the most advanced case of breakouts. There is a lot of
                                        inflammation under the skin and buildup. Some see results in the first week
                                        and,
                                        others can take between 30-60 days to see results. If you need the process
                                        to
                                        work faster, we recommend a facial with extractions for quick results
                                        especially
                                        if you have a wedding or big event coming up.
                                        <br><br>
                                        After a facial, follow the nighttime and daytime routine as included in the
                                        kit
                                        immediately that day of the facial for best results.
                                        <br><br>
                                        Also, during this first 30-60 days, limit the consumption of sugar, dairy,
                                        and
                                        fast food, to give your skin a chance to heal and detox.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->
                        <div class="accordion js-accordion">
                            <div class="accordion__item js-accordion-item">
                                <div class="accordion-header js-accordion-header">Are your products for sensitive
                                    skin?
                                </div>
                                <div class="accordion-body js-accordion-body">
                                    <div class="accordion-body__contents">
                                        Our products are designed for sensitive skin. They are hypoallergenic,
                                        non-irritating, and paraben free. We source organic and wildcrafted
                                        ingredients
                                        from exotic locations that specialize and deliver the most luxurious of
                                        ingredients and with the highest amount of nutrients for that plant from
                                        that
                                        particular location.
                                        <br><br>
                                        Examples include:
                                        <br><br>
                                        - Pink Clay from France
                                        <br><br>
                                        - Roman Chamomile from England
                                        <br><br>
                                        - Raspberry Seed Oil from Washington State
                                        <br><br>
                                        - Manuka from New Zealand
                                        <br><br>
                                        - Bergamot from Italy
                                        <br><br>
                                        - Coral from sustainably harvested above sea level beds in the Caribbean
                                        <br><br>
                                        Our products do not contain harsh chemicals, toxins, and fillers like many
                                        other
                                        beauty products. They are vegan and cruelty-free.
                                    </div>
                                </div>
                            </div><!-- end of accordion body -->
                        </div><!-- end of accordion item -->

                    </div>
                </div>
            </div>
        </div>
        {% if section.settings.display_related_products %}
            {% capture limit %}
                {{ section.settings.products_per_row | plus: 1 }}
            {% endcapture %}

            {% if collection and collection.all_products_count > 1 %}
                {% assign col = collection.handle %}
            {% else %}
                {% assign col = product.collections.last.handle %}
            {% endif %}

            {% for tag in product.tags %}
                {% if tag contains 'meta-related-collection-' %}
                    {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
                    {% if collections[related_collection_handle].all_products_count > 0 %}
                        {% assign col = related_collection_handle %}
                        {% assign collection = collections[col] %}
                        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if col and collections[col].all_products_count > 0 %}
                {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
                    {% assign skip_product = product %}
                    {% assign products = collections[col].products %}
                    {% assign products_per_row = section.settings.products_per_row %}
                    {% include 'prod_loop_updated' with sidebar: sidebar %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</main>

{% include "snippet-single-product-page" %}

<style>
    {% if section.settings.set_product_height %}
    .product_slider .slides img {
        max-height: {{ section.settings.product_height }}px;
    {% endif %}
</style>
<script>
    function closePopUp() {
        document.getElementsByClassName("pop_up_bg")[0].style.display = "none";
    }

    function openIngrid1() {
        document.getElementsByClassName("pop_up_text")[0].innerHTML = "Deionized Water, Rosa Damascena (Rose) Flower Distillate, Calendula Officinalis Flower Extract, Cucumis Sativus (Cucumber) Fruit Extract, Serenoa Repens (Saw Palmetto) Fruit Extract, Chamomilla Recutita (Matricaria) Flower Extract, Sodium Levulinate, Sodium Anisate, Melia Azadirachta Leaf Extract, Melia Azadirachta Flower Extract, Amino Esters-1, Coccinia Indica Fruit Extract, Solanum Melongena (Eggplant) Fruit Extract, Aloe Barbadensis Flower Extract, Lawsonia Inermis (Henna) Extract, Ocimum Sanctum Leaf Extract, Curcuma Longa (Turmeric) Root Extract, Pearl Powder";
        document.getElementsByClassName("pop_up_bg")[0].style.display = "flex";
    }

    function openIngrid2() {
        document.getElementsByClassName("pop_up_text")[0].innerHTML = "Simmondsia Chinensis (Jojoba) Seed Oil, Vitis Vinifera (Grape) Seed Oil, Deionized Water, Hamamelis Virginiana (Witch Hazel) Water, Anthemis Nobilis Flower (Chamomile) Extract, Crataegus Monogyna (Hawthorn) Fruit Extract, Helichrysum Italicum Distillate, Pyrus Malus (Apple) Seed Oil, Carapa Guaianensis (Andiroba) Seed Oil, Colloidal Silver, Leptospermum Scoparium (Manuka) oil, Tocopherol Acetate (Vitamin E), Rosemarinus Officinalis (Rosemary) Leaf Extract, Melia Azadirachta Extract, Moringa Pterygosperma Seed Oil";
        document.getElementsByClassName("pop_up_bg")[0].style.display = "flex";
    }

    function openIngrid3() {
        document.getElementsByClassName("pop_up_text")[0].innerHTML = "Zinc Oxide (non-nano), Deionized Water, Hamamelis Virginiana (Witch Hazel) Water, French Pink Clay, Anthemis Nobilis (Roman Chamomile) Extract, CoralCrataegus Monogyna (Hawthorn) Fruit Extract, Simmondsia Chinensis (Jojoba) Seed Oil, Vitis Vinifera (Grape) Seed Oil, Citrus Grandis (Grapefruit) Peel Oil, Citrus Aurantium Bergamia (Bergamot) Fruit Oil, Rubus Idaeus (Raspberry) Seed Oil, Camellia Oleifera (Camellia) Seed Oil, Sodium Levulinate, Sodium Anisate, Glycerin, Melaleuca Alternifolia (Tea Tree) Leaf Oil, Tocopherol Acetate (Vitamin E), Oryza Sativa (Rice) Starch, Leptospermum Scoparium (Manuka) Oil";
        document.getElementsByClassName("pop_up_bg")[0].style.display = "flex";
    }

    function openIngrid4() {
        document.getElementsByClassName("pop_up_text")[0].innerHTML = "Butyrospermum Parkii (Shea) Butter, Simmondsia Chinensis (Jojoba) Seed Oil, Rosa Canina (Rose Hips) Fruit Oil, Vitis Vinifera (Grape) Seed Oil, Theobroma Grandiflorum (Cupuacu) Butter, Cucurbita Pepo (Pumpkin) Seed Oil, Persea Gratissima (Avocado) Oil, Prunus Amygdalus Dulcis (Sweet Almond) Oil, Astrocaryum Tucuma Seed Butter, Rubus Idaeus (Raspberry) Seed Oil, Camellia Oleifera (Camellia) Seed Oil, Citrus Grandis (Grapefruit) Peel Oil, Coral Powder, Tocopherol Acetate (Vitamin E), Oryza Sativa (Rice) Starch, Argania Spinosa (Argan) Kernel Oil, Rosmarinus Officinalis (Rosemary) Leaf Extract, Citrus Aurantium Bergamia (Bergamot) Fruit Oil, Melia Azadirachta Extract, Moringa Pterygosperma Seed Oil";
        document.getElementsByClassName("pop_up_bg")[0].style.display = "flex";
    }

    var accordion = (function () {

        var $accordion = $('.js-accordion');
        var $accordion_header = $accordion.find('.js-accordion-header');
        var $accordion_item = $('.js-accordion-item');

        // default settings
        var settings = {
            // animation speed
            speed: 400,

            // close all other accordion items if true
            oneOpen: false
        };

        return {
            // pass configurable object literal
            init: function ($settings) {
                $accordion_header.on('click', function () {
                    accordion.toggle($(this));
                });

                $.extend(settings, $settings);

                // ensure only one accordion is active if oneOpen is true
                if (settings.oneOpen && $('.js-accordion-item.active').length > 1) {
                    $('.js-accordion-item.active:not(:first)').removeClass('active');
                }

                // reveal the active accordion bodies
                $('.js-accordion-item.active').find('> .js-accordion-body').show();
            },
            toggle: function ($this) {

                if (settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
                    $this.closest('.js-accordion')
                        .find('> .js-accordion-item')
                        .removeClass('active')
                        .find('.js-accordion-body')
                        .slideUp()
                }

                // show/hide the clicked accordion item
                $this.closest('.js-accordion-item').toggleClass('active');
                $this.next().stop().slideToggle(settings.speed);
            }
        }
    })();

    $(document).ready(function () {
        accordion.init({speed: 300, oneOpen: true});
    });
</script>
<script>
    // собираем все якоря; устанавливаем время анимации и количество кадров
    const anchors = [].slice.call(document.querySelectorAll('a[href*="#"]')),
        animationTime = 800,
        framesCount = 20;

    anchors.forEach(function (item) {
        // каждому якорю присваиваем обработчик события
        item.addEventListener('click', function (e) {
            // убираем стандартное поведение
            e.preventDefault();

            // для каждого якоря берем соответствующий ему элемент и определяем его координату Y
            let coordY = document.querySelector(item.getAttribute('href')).getBoundingClientRect().top;

            // запускаем интервал, в котором
            let scroller = setInterval(function () {
                // считаем на сколько скроллить за 1 такт
                let scrollBy = coordY / framesCount;

                // если к-во пикселей для скролла за 1 такт больше расстояния до элемента
                // и дно страницы не достигнуто
                if (scrollBy > window.pageYOffset - coordY && window.innerHeight + window.pageYOffset < document.body.offsetHeight) {
                    // то скроллим на к-во пикселей, которое соответствует одному такту
                    window.scrollBy(0, scrollBy);
                } else {
                    // иначе добираемся до элемента и выходим из интервала
                    window.scrollTo(0, coordY);
                    clearInterval(scroller);
                }
                // время интервала равняется частному от времени анимации и к-ва кадров
            }, animationTime / framesCount);
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        initialiseMediaPlayer();
    }, false);
    var players;


    function initialiseMediaPlayer() {
        players={
            player1: {
                player:document.getElementById('media-video-1'),
                control:document.getElementById('media-video-cntrl-1'),
            },
            player2: {
                player:document.getElementById('media-video-2'),
                control:document.getElementById('media-video-cntrl-2'),
            },
            player3: {
                player:document.getElementById('media-video-3'),
                control:document.getElementById('media-video-cntrl-3'),
            },
            player4: {
                player:document.getElementById('media-video-4'),
                control:document.getElementById('media-video-cntrl-4'),
            }
        };

    }

    function togglePlayPause(index) {
        var player = players['player'+index].player;
        var control = players['player'+index].control;
        if (player.paused || player.ended) {
            control.title = 'pause';
            control.className = 'pause';
            player.play();
            $('.play-watch').hide();
        } else {
            control.title = 'play';
            control.className = 'play';
            player.pause();
            $('.play-watch').show();
        }
    }
</script>
<!-- Added custom class for section wrapper-->
{% schema %}
{
  "name": "Product",
  "class": "main-product-template-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "uploadImagePinkBack",
      "label": "Upload image on the pink background"
    },
    {
      "id": "contentTabProductList",
      "type": "html",
      "label": "Add content for tab 'List of products'"
    },
    {
      "id": "contentTabIngredients",
      "type": "html",
      "label": "Add content for tab 'Ingredients'"
    },
    {
      "id": "imageProductBanner",
      "type": "image_picker",
      "label": "Upload image for product banner"
    },
    {
      "id": "videosCustomersTestimonials_1",
      "type": "text",
      "label": "Add link to video in Testimonial Customers",
      "placeholder": "The place for CDN link",
      "info": "Upload video in landscape orientation to Store's Files and insert CDN link here"
    },
    {
      "id": "customerInfo_1",
      "type": "text",
      "label": "Add info about customer"
    },
    {
      "id": "customerDesc_1",
      "type": "text",
      "label": "Add description for video"
    },
    {
      "id": "videosCustomersTestimonials_2",
      "type": "text",
      "label": "Add link to video in Testimonial Customers",
      "placeholder": "The place for CDN link",
      "info": "Upload video in landscape orientation to Store's Files and insert CDN link here"
    },
    {
      "id": "customerInfo_2",
      "type": "text",
      "label": "Add info about customer"
    },
    {
      "id": "customerDesc_2",
      "type": "text",
      "label": "Add description for video"
    },
    {
      "id": "videosCustomersTestimonials_3",
      "type": "text",
      "label": "Add link to video in Testimonial Customers",
      "placeholder": "The place for CDN link",
      "info": "Upload video in landscape orientation to Store's Files and insert CDN link here"
    },
    {
      "id": "customerInfo_3",
      "type": "text",
      "label": "Add info about customer"
    },
    {
      "id": "customerDesc_3",
      "type": "text",
      "label": "Add description for video"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product images"
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product image height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    },
    {
      "type": "paragraph",
      "content": "Featured in Section below the product image"
    },
    {
      "type": "checkbox",
      "id": "show_featured",
      "label": "Show/Hide Featured Section",
      "default": true
    },
    {
      "type": "text",
      "id": "featured_heading",
      "label": "Heading",
      "default": "Featured in"
    },
    {
      "type": "image_picker",
      "id": "featured_img1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "featured_img2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "featured_img3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "featured_img4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "featured_img5",
      "label": "Image 5"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}
{% endschema %}
<!-- JS custom -->
{{ 'product-template.js' | asset_url | script_tag }}
<!-- Google Tag Manager -->




